html {
  background: url('../img/pattern2.png');
  height: 1800px;
}

.head {
  height: 50px;
}

/*.sticky {
  position: sticky;
  top: 0;
}*/

.header1 {
  background: #FF6464;

}

.text1 {
  background:#FFBBBB;
}

.header2 {
  background: #FFDD00;
}

.text2 {
  background: #FBFF88;
}

.header3 {
  background: #65C67D;
}

.text3 {
  background: #9AFF97;
}


.text {
  height: 400px;
  font-size: 16px;
  overflow: hidden;
  padding: 25px 20px 0;
  padding-top: 25px;
}


.header {
  width: 100%;
  padding: 10px 0;
  text-align: center;

}
