html {
  background: url('../img/pattern2.png');
  height: 1500px;
}

.head {
  height: 100px;
}

.header1 {
  background: linear-gradient(#FF6464, #FFBBBB);
}

.text1 {
  background:#FFBBBB;
}

.header2 {
  background: linear-gradient(#FFDD00, #FBFF88);
}

.text2 {
  background: #FBFF88;
}

.header3 {
  background: linear-gradient(#65C67D, #9AFF97);
}

.text3 {
  background: #9AFF97;
}

.header2 {
  background: linear-gradient(#FFEB6B, #FFF9D5);
}

.text2 {
  background: #FFF9D5;
}


.text {
  padding-top: 55px;
  height: 300px;
  font-size: 16px;
  overflow: hidden;
  padding: 0 10% 0 10%;
}


.header {
  height: 55px;
  width: 100%;

  text-align: center;

}
