//= reset.scss


$fontRoboto: 'Roboto', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;
$pink: #FF4E50;

@mixin portrait-after($sprite, $background) {
  img {
    border-radius: 50%;
  }
  position: relative;
  width: 120px;
  margin: 0 auto;
  &:after {
    position: absolute;
    right: -8px;
    bottom: -2px;
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: $sprite $background;
  }
}

@mixin button {
  font-family: $fontMontserrat;
  font-weight: bold;
  line-height: 1.1;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background: $pink;
  width: 280px;
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 25px;
  behavior: url(border-radius.htc);
  border: 2px solid transparent;
  &:hover {
    cursor: pointer;
    border: 2px solid #CC1B1D;
  }
}

@mixin medium-text {
  font-family: $fontMontserrat;
  font-weight: bold;
  letter-spacing: 0.05em;
}



.header {

  .big-text {
    font-family: $fontMontserrat;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
  }
  .small-text {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    font-family: $fontRoboto;
    line-height: 1.3;
    width: 220px;
    margin: 20px auto;
  }

  .head-of-head {
    .medium-text {
      @include medium-text;
      line-height: 1.1;
      font-size: 20px;
      color: #fff;
      width: 180px;
      margin: 0 auto;
      margin-bottom: 37px;
    }

    .reg {
      font-family: $fontMontserrat;
      font-weight: bold;
      color: #fff;
      font-size: 14px;
      display: inline-block;
      text-transform: none;
      margin-top: 30px;
      margin-bottom: 130px;
      padding: 10px;
      border: 2px solid transparent;
      &:hover {
        border: 2px solid #fff;
        border-radius: 15px;
        cursor: pointer;
      }
    }
  }

  .button-text {
    @include button;
  }
}

.header {
  background: url('../img/header_desktop.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  height: 700px;
  box-sizing: border-box;
  padding: 40px 50px;
  .big-text {
    font-size: 52px;
    width: 490px;
    margin: 0 auto;
  }
  .head-of-head {
    overflow: auto;
    margin-bottom: 30px;

    .medium-text {
      float: left;
    }
    .login {
      float: right;
      .reg {
        margin-top: 0;
        font-size: 14px;
      }
    }
  }
  .small-text {
    font-size: 24px;
    width: auto;
    margin: 25px auto 35px;
  }
}

.steps {
  width: 960px;
  margin: 0 auto;
  .wrap_jcarousel {
    width: 300px;
    display: inline-block;
    position: relative;
    margin: 5px;
    .jcarousel {
      position: relative;
      overflow: hidden;
      width: 300px;
      ul {
        width: 1000px;
        position: relative;

        li {
            float: left;
            .step {
              width: 300px;
              height: 400px;
              background: url('../img/step1.jpg') no-repeat;
              border-radius: 6px;
              box-sizing: border-box;
              padding: 210px 20px 0 20px;


              .step_button {
                font-family: $fontMontserrat;
                font-size: 10px;
                background-color: $pink;
                color: #fff;
                letter-spacing: 0.3em;
                width: 60px;
                padding: 5px;
                border-radius: 15px;
                text-transform: uppercase;
                text-align: center;
              }
              .head {
                font-family: $fontMontserrat;
                font-weight: bold;
                font-size: 24px;
                color: white;
                margin-top: 20px;
                line-height: 1.2;
              }
              .paragraph {
                font-family: $fontRoboto;
                font-size: 14px;
                color: #cccccc;
                margin-top: 20px;
                font-weight: 300;
              }
            }

            .step2 {
              background: url('../img/step2.jpg') no-repeat;
            }

            .step3 {
              background: url('../img/step3.jpg') no-repeat;
            }
          }
      }
    }
    .jcarousel-prev,
    .jcarousel-next {
      position: absolute;
      top: 30%;
      display: block;
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
    }
    .jcarousel-prev{
      left: 20px;
    }
    .jcarousel-next{
      right: 20px;
    }
  }
}

.partners {

    .partner {
      text-align: center;
      width: 220px;
      margin: 20px auto;
      .portrait {
        @include portrait-after(url('../img/sprite.png') no-repeat, $pink);
      }
      .portrait2 {
        @include portrait-after(url('../img/sprite.png') -24px 0 no-repeat, #ff9900);
      }
      .portrait3 {
        @include portrait-after(url('../img/sprite.png') -45px 0 no-repeat, #1CD7AD);
      }
      .portrait4 {
        @include portrait-after(url('../img/sprite.png') -73px 0 no-repeat, #4E73DB);
      }
      .head {
        font-family: $fontMontserrat;
        font-weight: bold;
        font-size: 14px;
        color: #333333;
        margin-top: 22px;
      }
      .paragraph {
        font-family: $fontRoboto;
        font-size: 14px;
        color: #666666;
        font-weight: 300;
        margin-top: 18px;
        line-height: 1.3;
      }
    }
}

.show_more {
  font-family: $fontMontserrat;
  font-weight: bold;
  font-size: 14px;
  color: $pink;
  border: 3px solid $pink;
  border-radius: 20px;
  width: 300px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  margin: 30px auto 0;
  &:hover {
    color: #fff;
    background-color: $pink;
  }
}

.block_header {
  font-family: $fontMontserrat;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #333333;
}

.what_intrests {
  margin-top: 20px;
  font-family: $fontRoboto;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
  text-align: center;
}

.container {
  height: auto;
  width: 300px;
  margin: 0 auto;
  .item {
    padding: 10px 0;
    width: 300px;

    img {
      border-radius: 10px;
      max-width: 100%;
    }
    p {
      font-family: $fontMontserrat;
      font-weight: bold;
      position: absolute;
      color: #fff;
      font-size: 22px;
      top: 40%;
      left: 30%;
      z-index: 10;
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}

.search_form {
  clear: both;
  text-align: center;
  .text {
    font-size: 18px;
    width: 280px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
  }

  .text[placeholder] {
    font-family: $fontRoboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
    box-sizing: border-box;
    padding: 5px 15px;
  }

  .search {
    @include button;
    padding: 12px 0;
    margin-top: 10px;
  }
}

.footer {
  margin-top: 40px;
  height: 190px;
  border-top: 4px solid $pink;
  text-align: center;
  box-sizing: border-box;
  padding: 17px 0;
  .medium-text {
    @include medium-text;
    font-size: 16px;
    color: $pink;
  }

    .company-list, .partners-list {
      margin-top: 17px;
      font-family: $fontMontserrat;
      font-weight: bold;
      font-size: 14px;
      color: #333;

    }
    .company-list {
      width: 200px;
      margin: 10px auto;
      p {
        display: block;
        margin-bottom: 10px;
      }

      .company-item {
        display: inline-block;
        padding-left: 3px;
        padding-right: 3px;
        font-family: $fontRoboto;
        font-weight: 200;
        font-size: 14px;
        color: #666;
        cursor: pointer;
      }
    }
    .partners-item {
      display: block;
      margin-top: 18px;
      font-family: $fontMontserrat;
      font-weight: bold;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      font-size: 10px;
      color: #ccc;
      img {
        display: block;
        width: 110px;
        margin: 10px auto 20px;
      }
    }
}



.steps {
  width: 960px;
  margin: 0 auto;
  .wrap_jcarousel {
    width: 300px;
    margin: 5px;
    .jcarousel {
      width: 300px;
      ul {
        width: 1000px;
        li {
            .step {
              width: 300px;
              height: 400px;
              background: url('../img/step1_desktop.jpg') no-repeat;
            }
            .step2 {
              background-image: url('../img/step2_desktop.jpg');
            }
            .step3 {
              background-image: url('../img/step3_desktop.jpg');
            }
        }
      }
    }

  }
}

.partners {
    display: table;
    width: 924px;
    height: auto;
    margin: 0 auto;
      .partner {
        display: table-cell;
        padding: 5px;
      }
}

.show_more {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 190px;
}

.container {
  width: 630px;
  margin: 0 auto;
  .item {
    padding: 5px;
    width: 200px;
  }
}

.search_form {
  .what_intrests {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .text {
    display: inline-block;
  }
  .search {
    display: inline-block;
    width: 160px;
    margin-left: 10px;
  }
}

.footer {
  width: 100%;
  margin-top: 100px;
  display: table;
    .footer-block {
      .medium-text {
        padding-top: 15px;
      }
      vertical-align: top;
      display: table-cell;
      text-align: left;
      padding: 0 20px;
      }
      .company-list {
        p {
          padding-top: 5px;
        }
        .company-item {
          display: block;
          text-align: left;
          line-height: 2;
        }
      }
        .partners-item {
          float: right;
          text-align: right;
          img {
            margin: 10px 0;
            width: auto;
          }
        }
}

.container {
  height: auto;
  width: 960px;
  margin: 0 auto;
  .item {
    padding: 10px;
    width: 300px;
  }
}
