* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

div {
  float: right;  
   padding-top: 20%;
   padding-right: 20%;
}

p {
  color: #fff;
  font-family: 'Fresca', sans-serif;
  font-size: 24;
}

img {
  float: left;
  height: 100%;
}

a {
	color: #fff;
}
