body {
  background: linear-gradient(#FFFFA6, #FFDD00);
  width: 1200px;
  font: 16px 'Lobster', cursive;
}

/*Выпадающее меню*/
.menu {
  width: 600px;
  height: 35px;
  margin: 30px auto;
  border-radius: 8px;
  background: linear-gradient(#505050, #373737);
}

.menuList:first-child {
  margin-left: 30px;
}

.menuList {
  display: inline-block;
  margin-top: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

.menuItem,
.dropDownItem,
.portraitItem {
  text-decoration: none;
  color: #fff;
}

.menu a:hover {
  color: #FFFF7A;
}

.menu span {
  display: inline-block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  vertical-align: middle;
}
.menu .arrow {
  border-top-color: #FFF;
  border-bottom: 0;
}

.menu .arrowRight {
  border-left-color: #FFF;
  border-right: 0;
}

.dropDownMenu {
  display: none;
  height: 0;
  position: absolute;
  float: left;
  width: 120px;
  margin: 0 0;
  border-radius: 2px;
  background-color: #444444;
}

.portrait {
  display: none;
  position: absolute;
  float: left;
  width: 120px;
  height: 0;
  margin: 0 0;
  border-radius: 2px;
  background-color: #444444;
}

.dropDownList,
.portraitList {
  line-height: 2;
  border-bottom: 1px solid black;
  box-shadow: 0px 10px 5px -7px rgba(0,0,0,0.75);
}

.dropDownItem,
.portraitItem {
  margin-left: 10px;
}

.portrait {
  display: none;
  clear: both;
  margin-left: 20px;
}

/*Форма*/
.wrapper {
  margin-left: 300px;
  margin-top: 50px;
}
section {
  width: 350px;
  height: 500px;
  float: left;
}

.selects label {
  float: left;
  margin-top: 5px;
}

label {
  display: block;
  line-height: 2;

}

.checkboxes label {
  display: inline-block;
  clear: both;
}

/*Чекбокс на чистом css*/
#test-check1,
#test-check2 {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
.cssCheck {
	cursor: pointer;
}
.cssCheck:after {
	content: ' ';
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url('../img/checkbox-2.png');
	position: relative;
	top: 3px;
	margin-left: 15px;
}

label[for="test-check1"]:after {
  margin-left: 18px;
}

#test-check1:checked + label:after,
#test-check2:checked + label:after{
background-position: 0 -17px;
}
.cssCheck:hover:after {
background-position: 0 -34px;
}
#test-check1:checked + label:hover:after,
#test-check2:checked + label:hover:after {
background-position: 0 -51px;
}

/*Чекбоксы на JS*/
.checkboxesJS {
  margin-bottom: 20px;
}

.checkboxesJS label {
  width: 50px;
}

.niceCheck {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url('../img/checkbox.png');
}

.niceChecked {
	background-position: 0 -17px;
}

.niceCheck input {
	margin-left: -20px;

}
.niceCheckDisabled {
	background-image: url('../img/checkbox-disabled.png');
}

#ch1,
#ch2,
#ch3 {
  opacity: 0;
}

/*Карусель*/
.wrap_jcarousel {
  width: 600px;
  margin: 10px auto;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,.5) 5px 5px 15px;

}

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 410px;
}

.jcarousel-list {
  width: 3600px;
  position: relative;
}

.jcarousel-item {
  float: left;
}

/*  PREV NEXT BUTTONS  */
.jcarousel-prev,
.jcarousel-next{
  position: absolute;
  top: 200px;
  display: block;
  width: 30px;
  height: 50px;
  color: rgba(0,0,0,.8);
  text-decoration: none;
  font-size: 250%;
}

.jcarousel-prev:hover,
.jcarousel-next:hover{
  background-color: darken(#778899,10%);
}

.inactive {
  cursor: default;
  opacity: 0.5;
}

.jcarousel-prev{
  left: -50px;
}
.jcarousel-next{
  right: -50px;
}

  /*  PAGINATION  */
.jcarousel-pagination {
  background-color: transparent;
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: center;
  /*margin-top: 20px;*/
}

.jcarousel-pagination a {
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  color: #fff;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(0,0,0,.8);
  border-radius: 50%;
  margin-left: 5px;
}


.jcarousel-pagination a:hover {
  background-color: rgba(0,0,0,.6);
}

.active {
  opacity: .5;
}
