.wrapper {
  margin: 0 auto;
  width: 909px;
  padding-top: 18px;
}

/*SECTION*/
section {
  height: 53px;
  margin: 0 auto;
}
.handset {
  /*display: inline-block;*/
  border-radius: 50%;
  background: linear-gradient(#0F3B60, #5E92A8);
  vertical-align: middle;

}

.phone {
  display: inline-block;
  font: 18px Arial, sans-serif;
  color: #5e696d;
  /*vertical-align: bottom;*/
}

.registration {
  background: linear-gradient(#1D6181, #0C3357);
  width: 496px;
  height: 27px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  box-shadow: 5px 2px 12px 2px rgba(192,192,192,1);
  /*vertical-align: bottom;*/
}

.man {
  width: 14px;
  height: 18px;

  /*vertical-align: top;*/
}

.registration input {
  /*vertical-align: bottom;*/
  height: 17px;
  width: 115px;
}

.reg {
  display: inline-block;
  font: 11px "Lucida Sans Unicode", sans-serif;
  color: #fff;
}

.reg span {
  font-size: 12px;
  text-decoration: underline;
}

.reg span a {
  color: #bfbfbf;
}

.registration a {
  text-decoration: none;
  color: #fff;
}


.navi {
  display: inline-block;
  border-radius: 15px;
  border: 1px solid #BDC4C7;
  width: 75px;
  height: 20px;
  text-align: center;
  float: right;
  box-shadow: 1px 3px 13px -2px rgba(189,196,199,1);
  /*vertical-align: bottom;*/
  margin-top: 3px;
}

.navi a {
  margin: 0 3px;
}


/*HEADER*/
/*NAV*/
.top_menu {
 background: linear-gradient(#2A2E32, #010101);
 height: 35px;
 border-radius: 5px;
 box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.75);
}

.menu {
  padding-left: 50px;
  padding-right: 20px;
}

.menu li {
  display: inline-block;
  /*width: 123px;
  height: 26px;*/
  font: 14px "Lucida Sans Unicode", sans-serif;
  padding: 5px 10px;
}
.menu li a {
  color: #B1BCC0;
  width: 123px;
  height: 26px;
  text-decoration: none;
}

.menu li:hover {
  background: linear-gradient(#1E6383, #092036);
  border-radius: 20px;
}

.menu li:hover a {
  color: #fff;
}

.basket {
  display: inline-block;
  float: right;
  font: 11px Arial, sans-serif;
  color: #B1BCC0;
  padding-top: 5px;
}

.basket span {
  color: #0d5a8f;
}

/*FIGURE*/

/*figure {
  height: 135px;
}*/
.search_by_car,
.search_tire,
.search_disk {
  height: 134px;
  border-radius: 15px;
  border: 1px solid #B0B0B1;
  box-shadow: 2px 3px 5px -1px rgba(176,176,177,1);
  display: inline-block;
  float: left;
  margin-top: 10px;
}

.form_head {
  color: #154467;
  font: 10px "Arial Black", sans-serif;
  margin-left: 15px;
}

.form_head .by_car {
  font-size: 12px;
  margin-left: 70px;
  margin-right: 70px;
}

.search_by_car {
  width: 415px;
  display: inline-block;
}

.search_by_car label,
.search_tire label {
  font: 10px Arial, sans-serif;
  color: #000;
}

.search_disk label {
  font: 10px "Lucida Sans Unicode", sans-serif;
  width: 87px;
  display: inline-block;
  line-height: 1;
}

.search_by_car label span {
  color: #77858b;
}

.search_disk label span {
  color: #77858b;
  font-size: 9px;
}

.search_by_car select {
  width: 100px;
  border: 2px inset #a9a9a9;
  border-bottom: none;
}

.search_tire select {
  border: 2px inset #a9a9a9;
  border-bottom: none;
}

.search_disk select {
  border: 2px inset #a9a9a9;
  border-bottom: none;

}


#year_production {
  width: 57px;
}

option {
  font: 10px Arial, sans-serif;
}

.search_by_car dl,
.search_tire dl,
.search_disk dl {
  float: left;
  /*margin-top: 5px;*/
}

.search_by_car dt {
  line-height: 0;
  width: 72px;
  display: inline-block;
  margin-left: 15px;
  float: left;
  clear: both;
  margin-top: 2px;
}

.search_tire dt {
  line-height: 0;
  width: 40px;
  display: inline-block;
  margin-left: 15px;
  float: left;
  clear: both;
  margin-top: 4px;
  font: 10px "Lucida Sans Unicode", sans-serif;
}

.search_disk dt {
  line-height: 0;
  display: inline-block;
  margin-left: 15px;
  float: left;
  clear: both;
  margin-top: 4px;
  font: 10px "Lucida Sans Unicode", sans-serif;
}
/*.search_tire .sezons {

  clear: both;;
}*/

.search_by_car dd {
  margin-left: 10px;
  width: 100px;
  display: inline-block;
  font: 10px "Lucida Sans Unicode", sans-serif;
  margin-top: 2px;
}

.search_tire dd {
  padding-left: 4px;
  display: inline-block;
  font: 10px Arial, sans-serif;
  margin-top: 2px;

}

.search_disk dd {
  padding-left: 4px;
  display: inline-block;
  font: 10px Arial, sans-serif;
  margin-top: 7px;

}

.search_tire {
  width: 192px;
  border: 1px solid #B0B0B1;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.search_tire .sezon input,
 .search_tire .sezon label {
  margin-top: 0;
}


/*.search_tire input {
  border-style: inset;
}*/

.search_tire .left,
.search_disk .left {
  font-size: 12px;
}

.search_button {
  text-align: right;
  margin-right: 20px;
}

.search_button a {
  font: italic 14px Arial, sans-serif;
  color: #154467;
  line-height: 2;
}



#size1,
#size2 {
  width: 51px;
  /*display: inline-block;*/
}

#radius {
  width: 43px;
}

.right_R {
  text-align: right;
}

/*.sezons label {
  margin-top: 5px;

}*/

.sezon {
  display: inline;
  width: 120px;
}
.sezon #summer {
  padding-left: 0;
}

.sezons:first-child {
  margin-left: 0;
}

/*#summer,
#winter,
#both {
  margin-top: 0;
  padding-top: 0;
  line-height: 10%;
}*/

#winter,
#both {
  margin-left: 58px;
}

/*.sezon dd {
  margin-top: 0;
  padding-top: 0;
  line-height: 10%;
  margin-bottom: 0;
  padding-bottom: 0;
}*/


.search_tire dt {
  width: 40px;
}

.line {
  display: inline-block;
}

.search_tire .search_button a {
  line-height: 0;
}

.search_disk {
  width: 267px;
  border: 1px solid #B0B0B1;
  display: inline-block;
}

#disk_diameter {
  width: 57px;
}

#number_hole {
  width: 49px;
}
#hole_diameter {
  margin-top: 10px;
  width: 57px;
}

.right_part {
  /*float: right;
  clear: both;*/
  width: 92px;
  border-left: 1px solid #BDC6CA;
  margin-top: -14px;
}

.right_part label {
  font: 9px "Lucida Sans Unicode", sans-serif;
  line-height: 1;
}

.right_part label span {
  font-size: 8px;
  color: #77858b;

}

.right_part dd {
  width: 57px;
  padding-left: 15px;
}

.form_head .disk {
  display: inline-block;
  margin-right: 10px;
  width: 110px;
}

.right_border {
  border-right: 1px solid #BDC6CA;
}


/*dd input[type="checkbox"],
dd input[type="checkbox"] label {
  float: left;
  clear: both;
}*/

/*MAIN*/

/*ASIDE*/

/*FOOTER*/
