.wrapper {
  margin: 0 auto;
  width: 909px;
  padding-top: 18px;
}

/*SECTION*/
section {
  height: 53px;
  margin: 0 auto;
}
.handset {
  /*display: inline-block;*/
  border-radius: 50%;
  background: linear-gradient(#0F3B60, #5E92A8);
  vertical-align: middle;

}

.phone {
  display: inline-block;
  font: 18px Arial, sans-serif;
  color: #5e696d;
  /*vertical-align: bottom;*/
}

.registration {
  background: linear-gradient(#1D6181, #0C3357);
  width: 496px;
  height: 27px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  box-shadow: 5px 2px 12px 2px rgba(192,192,192,1);
  /*vertical-align: bottom;*/
}

.man {
  width: 14px;
  height: 18px;

  /*vertical-align: top;*/
}

.registration input {
  /*vertical-align: bottom;*/
  height: 17px;
  width: 115px;
}

.reg {
  display: inline-block;
  font: 11px "Lucida Sans Unicode", sans-serif;
  color: #fff;
}

.reg span {
  font-size: 12px;
  text-decoration: underline;
}

.reg span a {
  color: #bfbfbf;
}

.registration a {
  text-decoration: none;
  color: #fff;
}


.navi {
  display: inline-block;
  border-radius: 15px;
  border: 1px solid #BDC4C7;
  width: 75px;
  height: 20px;
  text-align: center;
  float: right;
  box-shadow: 1px 3px 13px -2px rgba(189,196,199,1);
  /*vertical-align: bottom;*/
  margin-top: 3px;
}

.navi a {
  margin: 0 3px;
}


/*HEADER*/
/*NAV*/
.top_menu {
 background: linear-gradient(#2A2E32, #010101);
 height: 35px;
 border-radius: 5px;
 box-shadow: 2px 3px 5px -1px rgba(0,0,0,0.75);
}

.menu {
  padding-left: 50px;
  padding-right: 20px;
}

.menu li {
  display: inline-block;
  /*width: 123px;
  height: 26px;*/
  font: 14px "Lucida Sans Unicode", sans-serif;
  padding: 5px 10px;
}
.menu li a {
  color: #B1BCC0;
  width: 123px;
  height: 26px;
  text-decoration: none;
}

.menu li:hover {
  background: linear-gradient(#1E6383, #092036);
  border-radius: 20px;
}

.menu li:hover a {
  color: #fff;
}

.basket {
  display: inline-block;
  float: right;
  font: 11px Arial, sans-serif;
  color: #B1BCC0;
  padding-top: 5px;
}

.basket span {
  color: #0d5a8f;
}

/*FIGURE*/

/*figure {
  height: 135px;
}*/
.search_by_car,
.search_tire,
.search_disk {
  height: 134px;
  border-radius: 15px;
  border: 1px solid #B0B0B1;
  box-shadow: 2px 3px 5px -1px rgba(176,176,177,1);
  display: inline-block;
  float: left;
  margin-top: 10px;
}

.form_head {
  color: #154467;
  font: 10px "Arial Black", sans-serif;
  margin-left: 15px;
}

.form_head .by_car {
  font-size: 12px;
  margin-left: 70px;
  margin-right: 70px;
}

.search_by_car {
  width: 415px;
  display: inline-block;
}

.search_by_car label,
.search_tire label {
  font: 10px Arial, sans-serif;
  color: #000;
}

.search_disk label {
  font: 10px "Lucida Sans Unicode", sans-serif;
  width: 87px;
  display: inline-block;
  line-height: 1;
}

.search_by_car label span {
  color: #77858b;
}

.search_disk label span {
  color: #77858b;
  font-size: 9px;
}

.search_by_car select {
  width: 100px;
  border: 2px inset #a9a9a9;
  border-bottom: none;
}

.search_tire select {
  border: 2px inset #a9a9a9;
  border-bottom: none;
}

.search_disk select {
  border: 2px inset #a9a9a9;
  border-bottom: none;

}


#year_production {
  width: 57px;
}

option {
  font: 10px Arial, sans-serif;
}

.search_by_car dl,
.search_tire dl,
.search_disk dl {
  float: left;
  /*margin-top: 5px;*/
}

.search_by_car dt {
  line-height: 0;
  width: 72px;
  display: inline-block;
  margin-left: 15px;
  float: left;
  clear: both;
  margin-top: 2px;
}

.search_tire dt {
  line-height: 0;
  width: 40px;
  display: inline-block;
  margin-left: 15px;
  float: left;
  clear: both;
  margin-top: 4px;
  font: 10px "Lucida Sans Unicode", sans-serif;
}

.search_disk dt {
  line-height: 0;
  display: inline-block;
  margin-left: 15px;
  float: left;
  clear: both;
  margin-top: 4px;
  font: 10px "Lucida Sans Unicode", sans-serif;
}

.search_by_car dd {
  margin-left: 10px;
  width: 100px;
  display: inline-block;
  font: 10px "Lucida Sans Unicode", sans-serif;
  margin-top: 2px;
}

.search_tire dd {
  padding-left: 4px;
  display: inline-block;
  font: 10px Arial, sans-serif;
  margin-top: 2px;

}

.search_disk dd {
  padding-left: 4px;
  display: inline-block;
  font: 10px Arial, sans-serif;
  margin-top: 7px;

}

.search_tire {
  width: 192px;
  border: 1px solid #B0B0B1;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.search_tire .sezon input,
 .search_tire .sezon label {
  margin-top: 0;
}


.search_tire .left,
.search_disk .left {
  font-size: 12px;
}

.search_button {
  text-align: right;
  margin-right: 20px;
}

.search_button a {
  font: italic 14px Arial, sans-serif;
  color: #154467;
  line-height: 2;
}



#size1,
#size2 {
  width: 51px;
  /*display: inline-block;*/
}

#radius {
  width: 43px;
}

.right_R {
  text-align: right;
}

.sezon {
  display: inline;
  width: 120px;
}
.sezon #summer {
  padding-left: 0;
}

.sezons:first-child {
  margin-left: 0;
}

#winter,
#both {
  margin-left: 58px;
}

.search_tire dt {
  width: 40px;
}

.line {
  display: inline-block;
}

.search_tire .search_button a {
  line-height: 0;
}

.search_disk {
  width: 267px;
  border: 1px solid #B0B0B1;
  display: inline-block;
}

#disk_diameter {
  width: 57px;
}

#number_hole {
  width: 49px;
}
#hole_diameter {
  margin-top: 10px;
  width: 57px;
}

.right_part {
  /*float: right;
  clear: both;*/
  width: 92px;
  border-left: 1px solid #BDC6CA;
  margin-top: -14px;
}

.right_part label {
  font: 9px "Lucida Sans Unicode", sans-serif;
  line-height: 1;
}

.right_part label span {
  font-size: 8px;
  color: #77858b;

}

.right_part dd {
  width: 57px;
  padding-left: 15px;
}

.form_head .disk {
  display: inline-block;
  margin-right: 10px;
  width: 110px;
}

.right_border {
  border-right: 1px solid #BDC6CA;
}

/*.top_forms {
  clear: both;
}*/


/*dd input[type="checkbox"],
dd input[type="checkbox"] label {
  float: left;
  clear: both;
}*/


/*ASIDE*/
.catalog {
  /*margin-top: 105px;*/
  display: block;
  height: 25px;
  width: 181px;
  border-radius: 15px;
  border: 1px solid #79878D;
  box-shadow: 2px 3px 5px -1px rgba(176,176,177,1);
  /*text-align: center;*/
  margin-bottom: 14px;
}


.catalog_production,
.brands {
  text-transform: uppercase;
  display: block;
  font: 13px "Lucida Sans Unicode", sans-serif;
  color: #114165;
  padding-left: 25px;
  background: url("../img/catalog.png") left center no-repeat;
  margin-top: 3px;
}



.tires,
.disks,
.bolts {
  list-style-type: circle;
  font: 13px "Lucida Sans Unicode", sans-serif;
  color: #114165;

}

.tires li,
.disks li,
.bolts li {
  list-style-position: inside;
  /*padding-left: 20px;*/
}

.tires li:hover,
.disks li:hover,
.bolts li:hover {
  font: bold italic 14px Arial, sans-serif;
  color: #0c3256;
  text-decoration: underline;
  line-height: 200%;
  cursor: pointer;
}

.name_list {
  text-align: left;
  /*display: block;*/
}

.name_list > li,
.name_list_right > li{
  text-transform: uppercase;
  display: inline-block;
  font: 14px "Lucida Sans Unicode", sans-serif;
  color: #114165;
  padding-left: 25px;
  border-radius: 15px;
  border: 1px solid #79878D;
  width: 123px;
  height: 28px;
  margin-top: 15px;
  text-align: left;
  background: url("../img/circle.png") 0 30% no-repeat;
  /*margin-top: 13px;*/
}

.section_left {
  float: left;
  clear: both;
}

.section_center {
  /*float: left;
  clear: both;*/
  height: 628px;
  width: 527px;
  background: linear-gradient(#E4E7E8, #93A7B0);
  margin: 170px auto;
}

.tire_pic {
  display: block;
  height: 128px;
  width: 137px;
  background: #fff;
  border: 1px solid #C8CED0;
  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
}

.tire_pic img {
  display: block;
  margin: 4px auto;
}

figure {
  display: inline-block;
  text-align: center;
  height: 196px;
  width: 170px;
  margin-top: 15px;


}
.name_tire {
  font: 15px "Lucida Sans Unicode", sans-serif;
  color: #206988;
  display: block;
  line-height: 1;
}

figcaption {
  font: 13px "Lucida Sans Unicode", sans-serif;
  color: black;
  display: block;
  line-height: 1;
}

.price {
  font: Bold Italic 16px Arial, sans-serif;
  color: #114165;
  display: block;
  margin-top: 3px;
}

.currency {
  font-size: 12px;
}

.section_right {
  float: right;
  clear: both;
  margin-top: 0;
}

.name_list_right {
  margin-left: 0;
}

.tires_right label,
.disks_right label {
  font: 13px "Lucida Sans Unicode", sans-serif;
  color: #465961;
}


.button {
  background: linear-gradient (#1C5E7E, #0D3458);
  color: #fff;
  border-radius: 15px;
}

/*FOOTER*/
.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  margin-left: 10px;
}


footer {
  height: 100px;
  background-color: #213A4D;
  display: block;
  text-align: center;
}

.footer li {
  margin-top: 10px;
}

.footer li {
  display: inline-block;
  width: 78px;
  text-align: center;
}

.footer li a {
  color: #fff;
  text-decoration: none;
  font: 12px Arial, sans-serif;
  color: #bec6c9;
}

.footer li a:hover {
  color: #52abcb;
}

.with_border {
  border-right: 1px solid #bec6c9;
}

.copyright {
  font: 10px Arial, sans-serif;
  color: #7f4740;
  margin-top: 10px;
}
