<div class="paragraphs-columns">
    <div class="wrapper">
        <div class="section">
            <h4 class="section-head">A fantastic heading</h4>
            <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dolore quidem repudiandae. Fugit nobis amet necessitatibus, vel magnam praesentium, nostrum</p>
        </div>
        <div class="section">
            <h4 class="section-head">Good day blokes</h4>
            <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dolore quidem repudiandae. Fugit nobis amet necessitatibus, vel magnam praesentium, nostrum</p>
        </div>
        <div class="section">
            <h4 class="section-head">Blaz Robar for president</h4>
            <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dolore quidem repudiandae. Fugit nobis amet necessitatibus, vel magnam praesentium, nostrum</p>
        </div>
        <div class="section">
            <h4 class="section-head">vote for robar</h4>
            <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dolore quidem repudiandae. Fugit nobis amet necessitatibus, vel magnam praesentium, nostrum</p>
        </div>
    </div>
    <div class="figure"></div>
</div>
