<footer>
  
  <div class="pink">
    <div class="wrapper">
      <h4>Get in touch </h4>
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="email">help@yomuma.com</p>
    </div>
  </div>
  <div class="blue">
    <div class="wrapper">
      <p>psum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
  </div>
</footer>
