<header>
    <div class="wrapper">
        <div class="head">

            <nav class="menu">
                <ul class="menu-list">
                    <li class="menu-item"><a href="#" class="menu-link">About</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">How It Works</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Services</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">FAQ</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Contact</a></li>
                </ul>
            </nav>
            <img src="img/logo.png" alt="Logo" class="logo"/>
            <input type="search" name="search" placeholder="Search Website" class="search" />
        </div>
    </div>
    <hr>
    <div class="wrapper">
        <div class="start">
            <p class="start-head"> Designs your eyeballs will thank you for</p>
            <button class="button-header">Get Started Today</button>
            <p class="under-button">Lorem ipsum dolor sit amet, consectetur</p>
        </div>
    </div>

</header>
