<header>
  <div class="wrapper">
      <div class="head">

        <div class="menu">
            <ul role="navigation">
              <li><a href="#">About</a></li>
              <li><a href="#">How It Works</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <img src="img/logo.png" alt="Logo"/>
        <input type="search" name="search" placeholder="Search Website" class="search"/>
      </div>
  </div>
  <hr>
  <div class="wrapper">
    <div class="start">
      <p class="start-head"> Designs your eyeballs will thank you for</p>
      <button>Get Started Today</button>
      <p class="under-button">Lorem ipsum dolor sit amet, consectetur</p>
    </div>
  </div>

</header>
