html(lang='en')
    head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible', content='ie=edge')
      title Siteplus
      link(rel='stylesheet', href='css/style.css')
      script(src="https://code.jquery.com/jquery-2.2.4.min.js")
      script(src="js/script.js")
    body

    //HEADER
    include template/header.pug

    //SECTION.ABOUT
    include template/about.pug

    //SECTION.SLIDER
    include template/slider.pug

    //SECTION.BLOG
    include template/blog.pug

    //SECTION.TEAM
    include template/team.pug

    //SECTION.FOOTER
    include template/footer.pug
