table {
  width: 500px;
  height: 541px;
  border: 1px solid white;
  margin: 10px auto;
}

td {
  border: 10px solid black;
}

.yellow {
  background-color: #FFE339;
}

.black {
  background-color: #262123;
}

.blue {
  background-color: #004282;
}

.red {
  background-color: #FF5B18;
}

.top {
  border-top: none;
}

.left {
  border-left: 10px solid white;
}

.bottom {
  border-bottom: 0;
}

.right {
  border-right: 10px solid white;
}

tr :first-child {
  width: 46px;
}
