<header id="header">
  <div class="wrapper">
      <img src="assets/img/logo.png" alt="Logo" />
      <div class="lang"><span class="round"></span><p>RU</p></div>
      <nav>
        <ul>
          <li><a href="#screen2">Услуги и цены</a></li>
          <li><a href="#screen3">Отзывы</a></li>
          <li><a href="#footer">Контакты</a></li>
        </ul>
      </nav>

      <div class="slide-text">
        <h2>Правовое сопровождение малого ИТ-бизнеса</h2>
        <hr>
        <p>Зачастую интернет-проекты, разработчики, маркетологи, дизайнеры, стартаперы и другие IT-специалисты не уделяют должного внимания правовым аспектам своей деятельности.</p>
        <p>Но <span>документы должны быть в порядке</span>, и мы в этом поможем.</p>
      </div>
      <button><span class="genericon genericon-previous" id="arrow"></span>услуги и цены</button>

      <div class="play">
        <span class="triangle-right">

        </span>
        <span class="triangle-small"></span>
      </div>
  </div>
</header>
