<section class="slogan" id="screen2">
  <div class="wrapper">
      <h3>Услуги и цены</h3>
      <hr>
      <p> <span>Pravo agency</span> выполняет роль юристов-аутсорсеров, надежно прикрывая правовой тыл вашей деятельности.</p>
  </div>
</section>

<section class="services">
  <div class="wrapper">
    <article id="document">
      <h4>Наведение порядка<br/> в делах</h4>
      <p>Аудит документов и платежей на предмет:</p>
      <ul>
        <li>соблюдения необходимых формальностей и процедур, </li>
        <li>наличия всех оригиналов договоров, актов, </li>
        <li>легализация зависших платежей.</li>

      </ul>
    </article>


    <article id="optima">
      <span id="pink-arrow">></span>
      <h4>Оптимизация<br/> договорных отношений </h4>
      <ul>
        <li>Доработка, латание дыр и улучшение условий основных типовых договоров вашей компании</li>
        <li>Оформление сотрудников на оптимальных условиях ведения деятельности и налогообложения</li>
        <li>Составление договоров, соглашений о конфиденциальности, публичных офферт</li>
      </ul>

    </article>

    <article id="escort">
      <h4>Правовое сопровождение<br/> деятельности (юрист-аутсорсер)</h4>
      <ul>
        <li>Участие в заключении договоров: минимизация рисков, усиление ваших позиций</li>
        <li>Юридическая консультация</li>
        <li>Дайджест предпринимательских ИТ-новостей с разъяснениями</li>
        <li>Представительство интересов в судах</li>
      </ul>
    </article>

    <article id="contract">
      <h4>Разработка договоров<br/> и другой документации</h4>
      <p>К сожалению, конфликты бывают в любой сфере. Если дело близится к суду или уже дошло до него, мы поможем отстоять ваши права и интересы.</p>
    </article>

    <div class="modal" id="modal">

      <table>
        <tr>
          <td class="title">услуга</td>
          <td colspan="3">
            <h4>Оптимизация договорных отношений </h4>
            <p>Борьба внутри меня, и я был в самых разных ситуациях в моей жизни. <span class="span">Таким образом, борьба, что у меня на постоянной основе, это просто пробовать и быть лучше.</span></p>
            <p>Есть определенная разница между публичным человеком и обычным человеком, это как сойти с ума - для меня во всяком случае - открыть себя целиком для всего мира.</p>
          </td>
        </tr>

        <tr>
          <td class="title">цена</td>
          <td><span class="employee"><50</span> Сотрудников</td>
          <td><span class="employee">50-100</span> Сотрудников</td>
          <td><span class="employee">>100</span> Сотрудников</td>
        </tr>

        <tr>
          <td></td>
          <td>от <span><span class="number">5000</span> грн.<span></td>
          <td>от <span><span class="number">15000</span> грн.</span></td>
          <td>от <span><span class="number">25000</span> грн.</span></td>
        </tr>



      </table>

      <button>Заказать</button>
    </div>

  </div>
</section>
