body {
  background: #EFEFEF;
  font-family: 'Comfortaa', cursive;
}

.carousel-hider {
    width: 600px;
    overflow: hidden;
    float: left;
}

.carousel-list {
    list-style: none;
    width: 10000px;
    padding: 0;
    position: relative;
}

.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}

.carousel-element img {
    width: 100px;
    border-radius: 15px;
}

.carousel-element p {
  text-align: center;
  height: 20px;
}

.carousel-arrow-left,
.carousel-arrow-right {
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    /*border: 1px solid grey;
    background-color: lightgrey;*/
    padding: 5px;
    margin-top: 50px;
}

.carousel-arrow-left:hover,
.carousel-arrow-right:hover {
    cursor: pointer;

}

.carousel-arrow-left {
    margin-right: 25px;
}

.carousel-arrow-right {
    margin-left: 25px;
}

.wrapper {
  width: 780px;
  margin: 50px auto;
  display: block;
}

#grid-holder {
  margin: 200px auto;
  width: 450px;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid gray;
  padding: 2px 5px;
}
