body {
  background-color: #B24926;
}

.menu {
  margin: 40px 0 10px 50px;
}

.menu li  {
  float: left;
  margin: 0 5px 10px 5px;
  padding: 10px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.highlighted {
  border-color: transparent;
  background-color: brown;
  box-shadow: rgba(255,255,255,0.1) 0 1px 0;
}

.menu li a {
  text-decoration: none;
  font: bold 14px Tahoma;
  color: #fff;
}

.tabsContent {
  clear: both;
  display: none;
  margin: 20px 50px 20px 50px;
  background: url("../img/pattern.png");
  height: 400px;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 50px;
}
.tabsContent.active {
  display: block;
}

input {
  display: inline-block;
  margin: 10px;
}

form {
  border: 1px solid grey;
  padding: 10px 20px;
}

em {
  display: none;
  margin-top: 10px;
  color: #B24926;
}
