$font-text: 'Architects Daughter', cursive;
$font-button: 'Roboto', sans-serif;
$green: #6de61c;

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;
}

.wrapper {
  margin: 0 auto;
  width: 320px;

  .wrapper__task {
    width: 200px;
    list-style: none;
  }

  .wrapper__list {
    margin: 20px auto;
    font-family: $font-text;
  }

  .wrapper__task__cross {
    float: right;
    color: red;
  }

  .wrapper__task__cross:hover {
    cursor: pointer;
  }

  .wrapper__button {
    @include box-shadow(9px 10px 20px -6px rgba(0, 0, 0, 0.75));
    display: block;
    margin: 10px auto;
    padding: 5px 15px;
    font-family: $font-button;
    font-size: 16px;
    border-radius: 20px;
    background-color: $green;
    color: #fff;
    border: none;
    outline: none;    
  }

  .wrapper__textarea {
    margin: 20px auto;
    width: 300px;
    display: block;
    resize: none;
    font-family: $font-text;
    outline-color: $green;
  }

  .wrapper__button_button-sort {
    @extend .wrapper__button ;
    visibility: hidden;
  }

  .wrapper__button_button-add {
    @extend .wrapper__button ;
  }
}
