//visible-xs, sm
section.about.container-fluid.visible-xs.visible-sm
    .row
        h2.topic a team of creatives based out of california
        .photo-in-car.col-xs-12
        .description
            h2.small-topic.col-xs-offset-1.col-xs-10 who we are
            p.text.col-xs-12 Nulla faucibus eu dui elementum porttitor. Aliquam sollicitudin tjusto sed laoreet tempus. Praesent eleifend non est non bibendum. Aliquam sed posuere urna.
        .laptop-coffee.col-xs-12
        .description
            h2.small-topic.col-xs-offset-1.col-xs-10 what we do

            p.text.col-xs-12 Nulla faucibus eu dui elementum porttitor. Aliquam sollicitudin tjusto sed laoreet tempus. Praesent eleifend non est non bibendum. Aliquam sed posuere urna.
        .text-presentation.col-xs-12
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget commodo risus. Nulla placerat nunc nulla, id porta sapien varius sed. In vel est a dui sodales varius. In facilisis, risus non maximus scelerisque, mauris massa vehicula tortor, nec vestibulum ipsum sem et magna. Maecenas in purus ut arcu pellentesque tempus. Curabitur viverra quis ipsum vitae hendrerit. Aenean nec consequat neque, non euismod sapien. Nullam fringilla justo sed consequat pellentesque. Praesent egestas porta vestibulum.

            p.text Nullam gravida odio quis ligula hendrerit, a consectetur nulla tincidunt. Ut finibus, quam id sodales tempus, neque diam fringilla lectus, vel ultricies est neque eget metus. Duis id efficitur libero. Etiam facilisis, ipsum volutpat ultrices finibus, orci sem consectetur leo, in blandit ipsum ex vitae lorem. Praesent placerat odio in lectus maximus, vel vehicula nulla scelerisque. Nullam et feugiat nibh. Nullam ultrices libero nec eros commodo, a tempus metus condimentum.

            div.buttons.col-xs-10.col-xs-offset-1
                button.active journal
                button our story
        .projects.col-xs-12
            h2.small-topic latest projects
            p.text Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at
            div.buttons.col-xs-10.col-xs-offset-1
                button.active view projects
                button contact
//visible-md, lg
section.about.container-fluid.visible-md.visible-lg
    .row
        h2.topic a team of creatives based out of california
        .clearfix.col-md-12
        .description.col-md-6
            h2.small-topic who we are
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat. Maecenas placerat vestibulum neque et venenatis. Donec condimentum metus in tempor luctus.
        .photo-in-car.col-md-6
        .clearfix.col-md-12
        .laptop-coffee.col-md-6
        .description.col-md-6
            h2.small-topic what we do
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae enim sollicitudin, suscipit enim nec, scelerisque erat. Maecenas placerat vestibulum neque et venenatis. Donec condimentum metus in tempor luctus.

        .text-presentation.col-md-12
            p.text.col-md-6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget commodo risus. Nulla placerat nunc nulla, id porta sapien varius sed. In vel est a dui sodales varius. In facilisis, risus non maximus scelerisque, mauris massa vehicula tortor, nec vestibulum ipsum sem et magna. Maecenas in purus ut arcu pellentesque tempus. Curabitur viverra quis ipsum vitae hendrerit. Aenean nec consequat neque, non euismod sapien. Nullam fringilla justo sed consequat pellentesque. Praesent egestas porta vestibulum.

            p.text.col-md-6 Nullam gravida odio quis ligula hendrerit, a consectetur nulla tincidunt. Ut finibus, quam id sodales tempus, neque diam fringilla lectus, vel ultricies est neque eget metus. Duis id efficitur libero. Etiam facilisis, ipsum volutpat ultrices finibus, orci sem consectetur leo, in blandit ipsum ex vitae lorem. Praesent placerat odio in lectus maximus, vel vehicula nulla scelerisque. Nullam et feugiat nibh. Nullam ultrices libero nec eros commodo, a tempus metus condimentum.

            div.buttons.col-md-6.col-md-offset-3
                button.active journal
                button our story
        .projects.col-md-12
            h2.small-topic latest projects
            p.text Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at
            div.buttons.col-md-6.col-xs-offset-3
                button.active view projects
                button contact
