section.blog.container-fluid.visible-xs.visible-sm
  .row
    div.lady.col-xs-12
    h2.topic.col-xs-offset-1.col-xs-10 our journal

    p.text.col-xs-12 Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.
    button.col-xs-4.col-xs-offset-4 read more


section.blog.container-fluid.visible-md.visible-lg
  .row
    div.lady.col-md-6.col-lg-7
    h2.topic.col-md-4.col-lg-5 our journal
    p.text.col-md-5.col-lg-5 Aliquam sed posuere urna, et gravida nisl. Praesent interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.
    button.col-md-2.col-lg-2 read more
    
