footer.container-fluid

    a.col-md-2.col-lg-2
      img(src="img/logo-footer.png")
    ul.footer-list.col-md-5.col-lg-4
      li.item-list
        a Our Team
      li.item-list
        a Contact Us
      li.item-list
        a Support
      li.item-list
        a Blog
      li.item-list
        a Exclusive Offers
      li.item-list
        a Licencing
      li.item-list
        a Privacy Policy
      li.item-list
        a Refund Policy

    .form.col-md-5.col-lg-4
      p.head Join Our newsletter
      p.
        Join up and get notified about new products, updates and special offers.
      .wrapper
        input(placeholder="Enter your email")
    div.networks.col-md-12.col-lg-2
      i.icon-twitter
      i.icon-facebook
