header.container-fluid
    a.go-to(href="#footer")
        i.icon-down
    .row
        nav.col-xs-12


            a(href='index.html')
                img.logo(src='img/logo.png', alt='Logo')
            i.icon-menu
            i.icon-search

        .center
            button inside our studio
            p.frostebite.visible-lg frostebite

        .menu.hidden-xs.hidden-sm.hidden-md
            .cross x
            .nav
                ul.overlay-menu
                    li.overlay-item
                        a our story
                    li.overlay-item
                        a services
                    li.overlay-item
                        a work
                    li.overlay-item
                        a journal
                    li.overlay-item
                        a contact

                - var list = ["Baxvers", "Akari", "Sushi", "Hopkins Coffee", "bananaboat", "Eyeywear"];
            .columns
                .column-list
                    h3.head Digital
                    ul
                        for name in list
                            li.column-item
                                a= name

                .column-list
                    h3.head Print
                    ul
                        for name in list
                            li.column-item
                                a= name

                .column-list
                    h3.head Mobile
                    ul
                        for name in list
                            li.column-item
                                a= name

                .column-list
                    h3.head Tablet
                    ul
                        for name in list
                            li.column-item
                                a= name
