//visible xs, sm
section.slider.container-fluid.visible-xs.visible-sm
    .row
        div.carousel-arrow-left
            i.icon-left
        div.carousel-hider
            ul.carousel-list
                li.carousel-element
                    img(src='img/slide1.jpg', alt='Andrew B. video')
                    i.icon-play
                    h3.topic case studies
                    p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac odio quis augue iaculis aliquam tristique id sapien. Proin ultricies tortor porta, volutpat sapien nec, hendrerit ligula. Ut id ipsum eu leo maximus rutrum.
                    p.sign 4 hours ago - by Andrew B.
                li.carousel-element
                    img(src='img/slide2.jpg', alt='Jude D. video')
                    i.icon-play
                    h3.topic case studies
                    p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac odio quis augue iaculis aliquam tristique id sapien. Proin ultricies tortor porta, volutpat sapien nec, hendrerit ligula. Ut id ipsum eu leo maximus rutrum.
                    p.sign 2 hours ago - by Jude D.
                li.carousel-element
                    img(src='img/slide3.jpg', alt='Thomas P. video')
                    i.icon-play
                    h3.topic case studies
                    p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac odio quis augue iaculis aliquam tristique id sapien. Proin ultricies tortor porta, volutpat sapien nec, hendrerit ligula. Ut id ipsum eu leo maximus rutrum.
                    p.sign 1 hour ago - by Thomas P.
        div.carousel-arrow-right
            i.icon-right

//visible md
section.slider.container-fluid.visible-md
    .row
        .carousel-hider-big
            .pagination
                span 1
                span 2
                span 3
            ul.carousel-list
                li.carousel-element
                    img(src='img/slide1.jpg', alt="Andrew B. video")
                    i.icon-play
                    .carousel-text
                        h3.topic case studies
                        p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac odio quis augue iaculis aliquam tristique id sapien. Proin ultricies tortor porta, volutpat sapien nec, hendrerit ligula. Ut id ipsum eu leo maximus rutrum.
                        p.sign 4 hours ago - by Andrew B.
                li.carousel-element
                    img(src='img/slide2.jpg', alt='Jude D. video')
                    i.icon-play
                    .carousel-text
                        h3.topic case studies
                        p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac odio quis augue iaculis aliquam tristique id sapien. Proin ultricies tortor porta, volutpat sapien nec, hendrerit ligula. Ut id ipsum eu leo maximus rutrum.
                        p.sign 2 hours ago - by Jude D.
                li.carousel-element
                    img(src='img/slide3.jpg', alt='Thomas P. video')
                    i.icon-play
                    .carousel-text
                        h3.topic case studies
                        p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac odio quis augue iaculis aliquam tristique id sapien. Proin ultricies tortor porta, volutpat sapien nec, hendrerit ligula. Ut id ipsum eu leo maximus rutrum.
                        p.sign 1 hour ago - by Thomas P.

        .carousel-hider-small
            ul.carousel-list
                li.carousel-element
                    img(src='img/slide2.jpg', alt='Andrew B. video preview')

                li.carousel-element
                    img(src='img/slide3.jpg', alt='Jude D. video preview')

                li.carousel-element
                    img(src='img/slide1.jpg', alt='Thomas P. video preview')



//visible lg
section.slider.container-fluid.visible-lg
    .row
        div.carousel-arrow-left
            i.icon-left
        .sliders
            .pagination
                span 1
                span 2
                span 3

            .carousel-hider-big.col-lg-12


                ul.carousel-list
                    li.carousel-element
                        img(src='img/slide1.jpg', alt='Andrew B. video')
                        i.icon-play
                        h3.topic case studies
                        p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac odio quis augue iaculis aliquam tristique id sapien. Proin ultricies tortor porta, volutpat sapien nec, hendrerit ligula. Ut id ipsum eu leo maximus rutrum.
                        p.sign 4 hours ago - by Andrew B.
                    li.carousel-element
                        img(src='img/slide2.jpg', alt='Jude D. video')
                        i.icon-play
                        h3.topic case studies
                        p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac odio quis augue iaculis aliquam tristique id sapien. Proin ultricies tortor porta, volutpat sapien nec, hendrerit ligula. Ut id ipsum eu leo maximus rutrum.
                        p.sign 2 hours ago - by Jude D.
                    li.carousel-element
                        img(src='img/slide3.jpg', alt='Thomas P. video')
                        i.icon-play
                        h3.topic case studies
                        p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac odio quis augue iaculis aliquam tristique id sapien. Proin ultricies tortor porta, volutpat sapien nec, hendrerit ligula. Ut id ipsum eu leo maximus rutrum.
                        p.sign 1 hour ago - by Thomas P.

            .carousel-hider-small.col-lg-6

                ul.carousel-list
                    li.carousel-element
                        img(src='img/slide2.jpg', alt='Andrew B. video preview')

                    li.carousel-element
                        img(src='img/slide3.jpg', alt='Jude D. video preview')

                    li.carousel-element
                        img(src='img/slide1.jpg', alt='Thomas P. video preview')

        .carousel-arrow-right
            i.icon-right
