section.blog {
    .lady {
        @include img;
        background: url('../img/lady.jpg') no-repeat;
    }

    .topic {
        @include topic;
        @include zigzag;
        padding-top: 120px;
        padding-bottom: 40px;
    }

    .text {
        @include text;
        box-sizing: border-box;
        padding: 0 50px 60px;
        text-align: center;
    }

    button {
        @include buttonActive;
        margin-bottom: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media(min-width:992px) {
    section.blog {
        box-sizing: border-box;
        padding-left: 100px;

        .lady {
            float: right;
            position: relative;
            height: 630px;
            width: 40%;
            background: url('../img/lady_part.jpg') no-repeat;

            &:after {
                position: absolute;
                top: 60%;
                right: 40%;
                content: url('../img/guys.jpg');
            }
        }

        .topic {
            @include zigzag-small;
            margin-top: 20%;
            padding-bottom: 30px;
            text-align: left;
            font-size: 24px;
        }

        .text {
            padding-left: 40px;
            padding-bottom: 30px;
            text-align: left;
            font-size: 14px;
            line-height: 2;
        }

        .active,
        button {
            @include btn;
            margin-bottom: 80px;
            margin-left: 40px;
        }
    }
}
/*end @media(min-width:992px)*/
@media(min-width:1200px) {
    section.blog {
        padding-left: 110px;

        .lady {
            width: 50%;
            background: url('../img/lady.jpg') no-repeat;
            background-position: left center;

            &:after {
                top: 50%;
                right: 60%;
            }
        }

        .topic {
            @include zigzag-small;
            margin-top: 10%;
            padding-bottom: 30px;
            text-align: left;
            font-size: 24px;
        }
    }
}
/*end @media(min-width:1200px)*/
