header {
    position: relative;
    width: 100%;
    min-height: 800px;
    background-image: url("../img/hero_back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .icon-down {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
        font-weight: 600;
        color: #fff;
    }

    nav {
        width: 100%;
        padding-top: 40px;
    }

    .menu {
        position: relative;
        z-index: 4;
        display: none;
        width: 98%;
        margin: 1%;
        background: #fff;

        .nav {
            height: 180px;
            border-bottom: 1px solid #f1f1f1;
        }

        .cross {
            position: absolute;
            right: 30px;
            top: 27px;
            z-index: 5;
            width: 20px;
            height: 20px;
            font-weight: 600;
            font-size: 18px;
            color: $darkGray;

            &:hover {
                cursor: pointer;
            }
        }

        .overlay-menu {
            display: table;
            width: 570px;
            margin: 0 auto;
        }

        .overlay-item {
            position: relative;
            display: table-cell;
            text-align: center;

            a {
                display: block;
                padding-top: 40px;
                text-transform: uppercase;
                font-family: $Raleway;
                text-decoration: none;
                font-weight: 600;
                font-size: 14px;
                color: $menuText;
            }

            &:hover a {
                cursor: pointer;
                color: $pink;
            }

            &:before {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 22px;
                height: 22px;
                background: url('../img/sprite.png');
            }

            .overlay-item:hover:before {
                cursor: pointer;
            }
        }

        .overlay-item:nth-of-type(1):before {
            background-position: 0 23px;
        }

        .overlay-item:hover:nth-of-type(1):before {
            cursor: pointer;
            background-position: 0 0;
        }

        .overlay-item:nth-of-type(2):before {
            background-position: -21px 23px;
        }

        .overlay-item:hover:nth-of-type(2):before {
            cursor: pointer;
            background-position: -21px 0;
        }

        .overlay-item:nth-of-type(3):before {
            background-position: -45px 23px;
        }

        .overlay-item:hover:nth-of-type(3):before {
            cursor: pointer;
            background-position: -45px 0;
        }

        .overlay-item:nth-of-type(4):before {
            width: 24px;
            background-position: -70px 23px;
        }

        .overlay-item:hover:nth-of-type(4):before {
            cursor: pointer;
            background-position: -70px 0;
        }

        .overlay-item:nth-of-type(5):before {
            height: 23px;
            width: 24px;
            background-position: -97px 23px;
        }

        .overlay-item:hover:nth-of-type(5):before {
            cursor: pointer;
            background-position: -97px 0;
        }

        .columns {
            width: 1000px;
            height: 370px;
            overflow: hidden;
            margin: 80px auto 0;
            padding-bottom: 120px;
            text-transform: uppercase;

            .column-list {
                float: left;
                width: 250px;
                box-sizing: border-box;
                padding-left: 50px;
                padding-right: 50px;
            }

            .head {
                display: block;
                padding-left: 15px;
                padding-bottom: 10px;
                font-family: $Raleway;
                font-weight: 600;
                font-size: 20px;
                color: $darkGray;
            }

            .column-item {
                padding-top: 12px;
                padding-bottom: 12px;
                font-family: $Raleway;
                font-weight: 600;
                font-size: 14px;

                a {
                    padding: 15px;
                    text-decoration: none;
                    color: $menuText;

                    &:hover {
                        cursor: pointer;
                        text-decoration: none;
                        background: $darkGray;
                        color: #fff;
                    }
                }
            }
        }
    }

    .logo {
        float: left;
        width: auto;
        height: auto;
    }

    .icon-menu,
    .icon-search {
        float: right;
        vertical-align: top;
        font-size: 32px;
        color: $gray;

        &:hover {
            cursor: pointer;
        }
    }

    .icon-search {
        margin-right: 30px;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    button {
        @include buttonActive;
        max-width: 330px;
        line-height: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(min-width:768px) {
    header {
        min-height: 770px;
        background-image: url("../img/hero_tablet.jpg");
    }
}
/*end @media(min-width:768px)*/
@media(min-width:1200px) {
    header {
        min-height: 900px;
        background-image: url("../img/hero_desktop.jpg");

        .frostebite {
            margin-top: 20px;
            letter-spacing: 50px;
            font-family: $Raleway;
            font-size: 35px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
        }
    }
}
/*end @media(min-width:1200px)*/
