
@media (min-width: 768px) and (max-width: 959px){

	.wrapper {
		width: 768px;
	}

  .logo {
    display: block;
		margin-bottom: 0;
  }

  .menu {
    display: block;
		float: left;
		margin-top: 39px;
		padding-top: 0;
		margin-bottom: 79px;
	}

	.menu_item {
		padding-left: 0;
		padding-right: 50px;
	}

	.slide {
		width: 689px;
	}

	.slider_text {
		width: 271px;
		height: 184px;
		overflow: hidden;
	}

	.text_short {
		display: none;
	}

	.text_1line {
		font-size: 48px;
	}

	.text_2line {
		font-size: 20px;
	}

	.text_3line {
		font-size: 16px;
	}

	.prev {
		left: 10px;
	}
	.next {
	  right: 10px;
	}

 /*фиолетовое меню*/
.navi_item {
	width: 246px;
}


/*светло-серый блок*/
.white_slider {
		width: 312px;
		height: 300px;
		overflow: hidden;
}

.text_short {
	display: none;
}


.update {
	width: 332px;
	overflow: hidden;
}

.update_text span {
  display: none;
}

/*логотипы*/

.logotypes {
  margin: 20px auto;
  width: 768px;
}

.logotypes a {
  margin-left: 23px;
  margin-right: 22px;
}

/*Сектор колонок на сером фоне*/
.grey_column1,
.grey_column2,
.grey_column3 {
	width: 222px;
}

.grey_column2 {
  margin-left: 35px;
  margin-right: 35px;
}

.pingbuller {
  font-size: 36px;
}

/*футер*/
.menu--footer {
  margin-top: 24px;
}

.menu--footer li {
	padding-right: 0;
  margin-right: 22px;
  font-size: 18px;
}

.design {
	position: absolute;
	margin-bottom: 30px;
	margin-left: 600px;
}


}

@media (min-width: 480px) and (max-width: 767px){
    .wrapper {
			width: 480px;
		}

		.logo {
			padding-top: 70px;
			width: 150px;
			display: block;
			margin: 0 auto;
		}

		.menu {
			display: none;
		}

/*выпадающее меню*/
		.menu_down {
			display: block;
			width: 247px;
			margin: 20px auto;
			border-radius: 10px;
		}

		.menu_down li {
			display: block;
			position: relative;
			text-align: center;
			height: 40px;
			/*width: 245px;*/
		}

		.menu_down li a {
			text-decoration: none;
			color: #fff;
			text-transform: uppercase;
			font: 24px 'League Gothic Regular', 'Open Sans', sans-serif;
			line-height: 2;
		}

		.menu_down > li > a {
			border-bottom: 2px solid #EDBFFF;
			line-height: 1.5;
		}

		.submenu {
			z-index: 1;
			display: none;
			position: absolute;
			width: 245px;
			top: 40px;
			left: 0;
			border: 1px solid #000;
		}

		.submenu li {
			display: block;
			background: rgba(37,6,57, 0.7);
			border-top: 1px solid #523E5A;
		}

		.submenu li:hover {
			background: rgba(17,13,19,0.8);
			border-bottom: 2px solid #EDBFFF;
		}

		.submenu li:last-child {
			border-radius: 0 0 10px 10px;
		}

		.menu_down > li:hover {
			background: rgba(37,6,57, 0.7);
			border-top: 1px solid #523E5A;
			border-radius: 10px 10px 0 0;
		}

		.submenu:last-child {
			border-radius: 0 0 10px 10px;
		}

		.menu_down > li:hover > .submenu {
			display: block;
		}

		/*слайдер*/

		.transparent {
			height: 246px;
		}

		.slide {
			width: 480px;
		}

		.slider_text {
			width: 208px;
		}

		.text_1line {
			font-size: 34px;
		}

		.text_2line {
			font-size: 16px;
		}

		.text_3line {
			display: none;
		}

		.phones {
			width: 40%;
			height: 40%;
			margin-left: 20px;
		}

		.prev {
			left: 10px;
		}
		.next {
		  right: 10px;
		}

		.radiobuttons {
		  text-align: center;

		}

		.radiobuttons input {
		  margin-top: 25px;
		  margin-bottom: 40px;
		}

		menu {
			display: block;
			height: 750px;
		}

		.navi_item {
			display: block;
			width: 424px;
			height: 130px;
			margin-bottom: 20px;
		}

			/*светло-серый блок*/
		.white {
		  height: 755px;
		}

		.white_slider,
		.white_updates {
		  float: none;
		}

		.white_updates {
		  margin-top: 45px;
			margin-left: 65px;
			width: 330px;
		}

		.update_text span {
			display: none;
		}

		.updates_more {
			margin-right: 5px;
		}

		/*Блок с логотипами*/
		.top_border {
		  height: 230px;
		}

		.logotypes {
		  margin: 30px auto;
		  width: 480px;
		}

		.logo4,
		.logo5,
		.logo6 {
			margin-top: 30px;
		}

		/*Сектор колонок на сером фоне*/
		.grey {
		  height: 670px;
		}

		.grey_column1,
		.grey_column2,
		.grey_column3 {
		  margin-top: 60px;
		  width: 440px;
		  height: 130px;
			float: none;
		}

		.grey_column2 {
		  margin-left: 0;
		  margin-right: 0;
		}

		.navi_head--grey {
			font-size: 24px;
		}

		/*футер*/

		footer {
		  height: 160px;
			background-size: cover;
		}

		.menu--footer {
		  float: none;
			display: block;
		}

		.menu--footer li {
		  padding-left: 5px;
		  margin-right: 20px;
		}

		.design {
		  float: none;
			text-align: center;
			display: block;
			margin-top: 30px;
		}

}

@media (min-width: 320px) and (max-width: 479px) {
	.wrapper {
		width: 320px;
	}

	.logo {
		padding-top: 70px;
		width: 150px;
		display: block;
		margin: 0 auto;
	}

	.menu {
		display: none;
	}

/*выпадающее меню*/
	.menu_down {
		display: block;
		width: 202px;
		margin: 20px auto;
		border-radius: 10px;
	}

	.menu_down li {
		display: block;
		position: relative;
		text-align: center;
		height: 40px;

	}

	.menu_down li a {
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		font: 24px 'League Gothic Regular', 'Open Sans', sans-serif;
		line-height: 2;
	}

	.menu_down > li > a {
		border-bottom: 2px solid #EDBFFF;
		line-height: 1.5;
	}

	.submenu {
		z-index: 1;
		display: none;
		position: absolute;
		width: 200px;
		top: 40px;
		left: 0;
		border: 1px solid #000;
	}

	.submenu li {
		display: block;
		background: rgba(37,6,57, 0.7);
		border-top: 1px solid #523E5A;
	}

	.submenu li:hover {
		background: rgba(17,13,19,0.8);
		border-bottom: 2px solid #EDBFFF;
		cursor: pointer;
	}

	.submenu li:last-child {
		border-radius: 0 0 10px 10px;
	}
	
	.menu_down > li:hover {
		background: rgba(37,6,57, 0.7);
		border-top: 1px solid #523E5A;
		border-radius: 10px 10px 0 0;

	}

	.submenu:last-child {
		border-radius: 0 0 10px 10px;
	}

	.menu_down > li:hover > .submenu {
		display: block;
	}

	/*слайдер*/

	.transparent {
		height: 150px;
		margin-top: 0;
		background: rgba(0,0,0,0);
	}

	.slide {
		width: 250px;
		text-align: center;
	}

	.slider_text {
		width: 220px;
		height: 50px;
	}

	.text_1line {
		font-size: 34px;
	}

	.text_2line {
		font-size: 16px;
	}

	.text_3line {
		display: none;
	}

	.phones {
		display: none;
	}

	.prev {
		left: 10px;
		top: 280px;
	}
	.next {
	  right: 10px;
		top: 280px;
	}

	.radiobuttons {
		text-align: center;
	}

	.radiobuttons input {
		margin-top: 25px;
		margin-bottom: 30px;
	}

	menu {
		display: block;
		height: 790px;
	}

	.navi_item {
		display: block;
		width: 310px;
		height: 150px;
		margin-bottom: 20px;
	}

	/*светло-серый блок*/
	.white {
		height: 755px;
	}

	.white_slider,
	.white_updates {
		float: none;

	}
.white_link {
	float: left;
	clear: both;
}

.white_head span{
	display: block;
}

.text_long {
	display: none;
}

	.white_slider {
		width: 230px;
		height: 285px;
		overflow: hidden;
	}

	.radiobuttons--white {
		display: block;
		margin: 20px auto;
		text-align: center;
	}

	.white_updates {
		margin-top: 45px;
		width: 288px;
		overflow: hidden;
	}

	.updates_more {
		margin-right: 5px;
	}

	/*Блок с логотипами*/
	.top_border {
		height: 300px;
	}

	.logotypes {
		margin: 30px auto 0;
		width: 320px;
	}

	.logo1,
	.logo3,
	.logo5 {
		float: left;
	}

	.logo2,
	.logo4,
	.logo6 {
		float: right;
	}

	.logo3,
	.logo4,
	.logo5,
	.logo6 {
		margin-top: 30px;
	}

	/*Сектор колонок на сером фоне*/
	.grey {
		display: none;
	}

	/*футер*/

	footer {
		height: 160px;
		background-size: cover;
	}

	.menu--footer {
		display: none;
	}


	.design {
		float: none;
		text-align: center;
		display: block;
		padding-top: 30px;
	}


}
