main {
  font-family: Verdana;
  font-weight: 900;
  font-size: 14px;
  width: 380px;
  margin: 0 auto;
  line-height: 0.9;
  color: #333333;
}

main::first-line {
  font-size: 18px;
}

.red {
  color: #CE3737;
}



.regular {
  font-size: 14px;
}

.crossed {
  text-decoration: line-through;
  color: black;
}

.thin {
  font-weight: 400;
}

.green {
  color: green;
  font-weight: 400;
  font-size: 12px;
}

label {
  padding-left: 70px;
  color: #961FD8;
  font-weight: 900;
}

.save {
  position: relative;
  /*opacity: 0.3;*/

}

.save {
  width: 12px;
  height: 12px;
  border-radius: 3px;

}

.save:after {
  content: url('img/coupon.svg');
  display: inline-block;
  width: 50px;
  height: 14px;
  position: absolute;
  top: -7px;
  left: 15px;

}

form {
  margin-top: 20px;
  width: 380px;
  height: 285px;
  background: #FAFAFA;
  border: 1px solid #DDD;
  color: #000;
  position: relative;
}

.text {
  margin-left: 10px;
}

select {
  width: 180px;
  margin-bottom: 10px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #AAA;

}

.selects {
  width: 186px;
  display: inline-block;
  margin-left: 10px;
}

.radio {
  width: 140px;
  display: inline-block;
  vertical-align: top;
}

.radio-label {
  padding-left: 0;
  display: block;
  color: #000;
  font-weight: 200;
  line-height: 2;
  font-family: Verdana;
}

.figure {
  width: 55px;
  height: 25px;
  text-align: center;
  display: inline-block;
  font-weight: 900;
  text-shadow: 1px 0px 1px rgba(150, 150, 150, 1);
  font-size: 16px;
}

.minus {
  background: url('img/minus.svg') no-repeat;
  display: inline-block;
  margin-top: 10px;
  width: 22px;
  height: 22px;
  margin-left: 10px;
}

.plus {
  background: url('img/plus.svg') no-repeat;
  vertical-align: middle;
  display: inline-block;
  width: 22px;
  height: 22px;
}

.total {
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.grey {
  color: #ccc;
}

.submit {
  width: 100%;
  border-top: 1px dashed #ddd;
  background: #F2F2F2;
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 0;

}

.cart {
  width: 160px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -80px;
  background: #F17400;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 4px 0px rgba(255,255,255,1);
}

.cart:focus {
  outline: none;
}

.cart:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}
