.content {
    position: relative;
    box-sizing: border-box;
    padding: 20px;

    .blogContent {
        display: none;
    }

    .blogContent.active {
        display: block;
    }

    .menu-head {
        margin-bottom: 10px;
        font-family: $Bitter;
        font-size: 18px;
        color: #464646;
        line-height: 2;

        &:last-of-type {
            padding-top: 30px;
        }
    }

    .sidebar {
        float: right;
        width: 206px;
        margin-top: 40px;
        color: #464646;
    }

    .sidebar-title {
        border-bottom: 4px solid $pink;
        padding-left: 5px;
        font-weight: bold;
        font-family: $Bitter;
        font-size: 16px;
        line-height: 1.5;
    }

    .sidebar-text {
        box-sizing: border-box;
        padding-top: 10px;
        margin-bottom: 10px;
        font-family: $HelveticaMedium;
        font-size: 14px;
        line-height: 1.2;

        a {
            cursor: $cursor;
            font-family: $HelveticaMedium;
            font-size: 14px;
            line-height: 1.2;
            text-decoration: none;
            color: #464646;
        }
    }

    .advert {
        position: relative;
        display: inline-block;
        width: 96px;
        height: 96px;
        box-sizing: border-box;
        border: 1px solid #C9C9C9;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 5px;
        background-color: #f5f5f5;

        &:after {
            content: 'Advertise Here';
            position: absolute;
            top: 25%;
            left: 6%;
            font-family: $Bitter;
            font-size: 14px;
            line-height: 1.5;
            color: #c6c6c6;
        }

        &:first-of-type {
            background: url('../img/advert.jpg') no-repeat;

            &:after {
                content: "";
            }
        }
    }

    .video {
        width: 650px;
        height: 400px;
        border: 1px solid #ccc;
        margin-bottom: 40px;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    audio {
        display: block;
        width: 650px;
        margin-bottom: 40px;
    }

    .blog-post {
        @include clearfix;
        width: 650px;
        padding-bottom: 40px;
        color: $textColor;

        &:first-of-type {
            border-bottom: 4px solid $pink;
        }

        &:last-of-type {
            padding-bottom: 80px;
        }
    }

    .post-details {
        float: left;
        width: 110px;
        line-height: 2;
        font-size: 14px;

        dt {
            font-family: $Bitter;
        }

        dd {
            font-family: $HelveticaMedium;
            font-weight: 300;
            color: $pink;
        }
    }

    .post {
        float: right;
        width: 510px;
        font-size: 14px;
        font-family: $HelveticaMedium;
        line-height: 1.5;

        p:nth-child(2) {
            margin-top: 20px;
        }

        a {
            cursor: $cursor;
            text-decoration: none;
        }
    }

    .pagination {
        position: absolute;
        bottom: 20px;
    }

    .pagination-item {
        display: inline-block;
        margin-right: 5px;
        line-height: 1.5;

        &:hover {
            cursor: $cursor;
            background-color: $pink;
            color: #fff;

            .pagination-link {
                color: #fff;
            }
        }
    }

    .pagination-link {
        opacity: 1;
        padding: 5px;
        font-family: $HelveticaMedium;
        font-weight: 500;
        text-decoration: none;
        color: $textColor;
    }

    .highlighted {
        background-color: $pink;

        .pagination-link {
            color: #fff;
        }
    }
}
