.content {
    @include clearfix;

    .map {
        height: 400px;
        width: 890px;
        margin: 20px auto 30px;
    }

    .map-frame {
        height: 100%;
        width: 100%;
        border: 0;
    }

    .wrapper-contact {
        width: 890px;
        margin: 0 auto;
    }

    .column-text {
        display: inline-block;
        width: 315px;
        box-sizing: border-box;
        padding-right: 50px;
        font-family: $HelveticaMedium;
        font-size: 14px;
        color: $textColor;
    }

    .company-name {
        color: $pink;
    }

    .contact-details {
        margin-bottom: 20px;
    }

    .feedback {
        float: right;
        width: 500px;
    }

    .feedback-input {
        display: inline-block;
        width: 240px;
        margin-bottom: 20px;
        box-sizing: border-box;
        border: 1px solid $textColor;
        padding-left: 10px;
        line-height: 2;
        font-family: $HelveticaMedium;
        font-size: 14px;
        color: $textColor;

        &:focus {
            border: 1px solid $pink;
            outline: none;
        }

        &:focus::-webkit-input-placeholder {
            color: $pink;
        }

        &:focus::-moz-placeholder {
            color: $pink;
        }

        &:focus:-moz-placeholder {
            color: $pink;
        }

        &:focus:-ms-input-placeholder {
            color: $pink;
        }

        &:-ms-input-placeholder {
            color: $textColor;
        }

        &::-webkit-input-placeholder {
            color: $textColor;
        }

        &::-moz-placeholder {
            color: $textColor;
        }
    }

    .feedback-text {
        display: block;
        box-sizing: border-box;
        border: 1px solid $textColor;
        margin-bottom: 20px;
        padding-left: 10px;
        font-family: $HelveticaMedium;
        font-size: 14px;

        &:focus {
            border: 1px solid $pink;
            outline: none;
        }

        &:focus::-webkit-input-placeholder {
            color: $pink;
        }

        &:focus::-moz-placeholder {
            color: $pink;
        }

        &:focus:-moz-placeholder {
            color: $pink;
        }

        &:focus:-ms-input-placeholder {
            color: $pink;
        }

        &:-ms-input-placeholder {
            color: $textColor;
        }

        &::-webkit-input-placeholder {
            color: $textColor;
        }

        &::-moz-placeholder {
            color: $textColor;
        }
    }

    .feedback-submit {
        display: block;
        margin-bottom: 50px;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        cursor: $cursor;
        color: #fff;
        background-color: $pink;
    }
}
