@font-face {
    font-family: 'GothamPro';
    src: url('assets/fonts/GothamPro/GothamPro.eot');
    src: url('assets/fonts/GothamPro/GothamPro.svg') format('svg'),
         url('assets/fonts/GothamPro/GothamPro.woff2') format('woff2'),
         url('assets/fonts/GothamPro/GothamPro.woff') format('woff'),
         url('assets/fonts/GothamPro/GothamPro.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}



@font-face {
  font-family: 'GothamPro-Medium';
  src: url('assets/fonts/GothamPro-Medium/GothamPro-Medium.eot');
  src: url('assets/fonts/GothamPro-Medium/GothamPro-Medium.svg') format('svg'),
       url('assets/fonts/GothamPro-Medium/GothamPro-Medium.woff2') format('woff2'),
       url('assets/fonts/GothamPro-Medium/GothamPro-Medium.woff') format('woff'),
       url('assets/fonts/GothamPro-Medium/GothamPro-Medium.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'GothamPro-MediumItalic';
  src: url('assets/fonts/GothamPro-MediumItalic/GothamPro-MediumItalic.eot');
  src: url('assets/fonts/GothamPro-MediumItalic/GothamPro-MediumItalic.svg') format('svg'),
       url('assets/fonts/GothamPro-MediumItalic/GothamPro-MediumItalic.woff2') format('woff2'),
       url('assets/fonts/GothamPro-MediumItalic/GothamPro-MediumItalic.woff') format('woff'),
       url('assets/fonts/GothamPro-MediumItalic/GothamPro-MediumItalic.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'GothamPro-BoldItalic';
  src: url('assets/fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.eot');
  src: url('assets/fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.svg') format('svg'),
       url('assets/fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.woff2') format('woff2'),
       url('assets/fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.woff') format('woff'),
       url('assets/fonts/GothamPro-BoldItalic/GothamPro-BoldItalic.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;

}



@font-face {
    font-family: 'GothamPro-Italic';
    src: url('assets/fonts/GothamPro-Italic/GothamPro-Italic.eot');
    src: url('assets/fonts/GothamPro-Italic/GothamPro-Italic.svg') format('svg'),
         url('assets/fonts/GothamPro-Italic/GothamPro-Italic.woff2') format('woff2'),
         url('assets/fonts/GothamPro-Italic/GothamPro-Italic.woff') format('woff'),
         url('assets/fonts/GothamPro-Italic/GothamPro-Italic.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-LightItalic';
    src: url('assets/fonts/GothamPro-LightItalic/GothamPro-LightItalic.eot');
    src: url('assets/fonts/GothamPro-LightItalic/GothamPro-LightItalic.svg') format('svg'),
         url('assets/fonts/GothamPro-LightItalic/GothamPro-LightItalic.woff2') format('woff2'),
         url('assets/fonts/GothamPro-LightItalic/GothamPro-LightItalic.woff') format('woff'),
         url('assets/fonts/GothamPro-LightItalic/GothamPro-LightItalic.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-BlackItalic';
    src: url('assets/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.eot');
    src: url('assets/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.svg') format('svg'),
         url('assets/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.woff2') format('woff2'),
         url('assets/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.woff') format('woff'),
         url('assets/fonts/GothamPro-BlackItalic/GothamPro-BlackItalic.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'GothamPro-Black';
    src: url('assets/fonts/GothamPro-Black/GothamPro-Black.eot');
    src: url('assets/fonts/GothamPro-Black/GothamPro-Black.svg') format('svg'),
         url('assets/fonts/GothamPro-Black/GothamPro-Black.woff2') format('woff2'),
         url('assets/fonts/GothamPro-Black/GothamPro-Black.woff') format('woff'),
         url('assets/fonts/GothamPro-Black/GothamPro-Black.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Bold';
    src: url('assets/fonts/GothamPro-Bold/GothamPro-Bold.eot');
    src: url('assets/fonts/GothamPro-Bold/GothamPro-Bold.svg') format('svg'),
         url('assets/fonts/GothamPro-Bold/GothamPro-Bold.woff2') format('woff2'),
         url('assets/fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'),
         url('assets/fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro-Light';
    src: url('assets/fonts/GothamPro-Light/GothamPro-Light.eot');
    src: url('assets/fonts/GothamPro-Light/GothamPro-Light.svg') format('svg'),
         url('assets/fonts/GothamPro-Light/GothamPro-Light.woff2') format('woff2'),
         url('assets/fonts/GothamPro-Light/GothamPro-Light.woff') format('woff'),
         url('assets/fonts/GothamPro-Light/GothamPro-Light.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'BanderaPro-Medium';
  src: url('assets/fonts/BanderaPro-Medium/BanderaPro-Medium.eot');
  src: url('assets/fonts/BanderaPro-Medium/BanderaPro-Medium.svg') format('svg'),
       url('assets/fonts/BanderaPro-Medium/BanderaPro-Medium.woff2') format('woff2'),
       url('assets/fonts/BanderaPro-Medium/BanderaPro-Medium.woff') format('woff'),
       url('assets/fonts/BanderaPro-Medium/BanderaPro-Medium.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'BanderaPro-Bold';
  src: url('assets/fonts/BanderaPro_Bold/BanderaPro-Bold.eot');
  src: url('assets/fonts/BanderaPro_Bold/BanderaPro-Bold.svg') format('svg'),
       url('assets/fonts/BanderaPro_Bold/BanderaPro-Bold.woff2') format('woff2'),
       url('assets/fonts/BanderaPro_Bold/BanderaPro-Bold.woff') format('woff'),
       url('assets/fonts/BanderaPro_Bold/BanderaPro-Bold.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'PFDin';
  src: url('assets/fonts/PFDin/PFDinDisplayPro-Regular.eot');
  src: url('assets/fonts/PFDin/PFDinDisplayPro-Regular.svg') format('svg'),
       url('assets/fonts/PFDin/PFDinDisplayPro-Regular.woff2') format('woff2'),
       url('assets/fonts/PFDin/PFDinDisplayPro-Regular.woff') format('woff'),
       url('assets/fonts/PFDin/PFDinDisplayPro-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;

}
