.slogan {

  .wrapper {
    width: 574px;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
  }

  h3 {
    font-size: 28px;
    text-transform: uppercase;
    color: $colorText;
    font-family: $Bold;
    padding: 60px 0 20px;
  }
  hr {
    width: 8%;
    background: $pink;
    border: none;
    height: 3px;
  }
  p {
    font-size: 15px;
    font-family: $GothamPro;
    padding: 20px 0 60px;
  }
  span {
    font-family: $Bold;
  }
}

.services {
  border-top: 1px solid #F4F4F4;
  border-bottom: 1px solid #F4F4F4;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  padding: 0 10px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 0;
    border-top: 1px dashed #EDEDEE;
  }
  .wrapper {
    width: 1085px;
    box-sizing: border-box;
    margin: 0 auto;
    @include clearfix;
    position: relative;

  }

  #document h4 {
    @include sprite;
    &:hover:before {
      background-position: 0 -46px;
      cursor: $pointer;
    }
  }

  #optima h4 {
    @include sprite;
    &:before {
      background-position: -43px 0;
      width: 42px;
    }
    &:hover:before {
      background-position: -43px -45px;
      cursor: $pointer;
    }
  }


  #escort h4 {
    @include sprite;
    &:before {
      background-position: -88px 0;
    }
    &:hover:before {
      background-position: -88px -46px;
      cursor: $pointer;
    }
  }

  #contract h4 {
    @include sprite;
    &:before {
      background-position: -130px 0;
      width: 43px;
    }
    &:hover:before {
      background-position: -130px -45px;
      cursor: $pointer;
    }
  }

  #optima {
    position: relative;
  }

  #pink-arrow {
    color: $pink;
    font-weight: 500;
    font-family: Arial;
    position: absolute;
    top: 80px;
    left: 0;
    display: block;
    width: 5px;
    height: 5px;
    display: none;
    z-index: 2;
    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 10px;
      height: 45px;
      border-left: 1px solid $pink;
      z-index: 2;

    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 200%;
      left: 0;
      width: 10px;
      height: 150px;
      border-left: 1px solid $pink;
      z-index: 2;

    }
  }
  article {
    width: 50%;
    float: left;
    color: $colorText;
    box-sizing: border-box;
    padding: 40px;
    padding-left: 80px;
    padding-right: 110px;
    position: relative;
    vertical-align: top;

    &:after {
      content: "i";
      position: absolute;
      top: 40px;
      right: 10%;
      display: inline-block;
      width: 25px;
      height: 15px;
      text-align: center;
      vertical-align: text-bottom;
      border: 2px solid $pink;
      border-radius: 50%;
      font-family: $BanderaBold;
      font-weight: 600;
      font-size: 18px;
      padding: 5px 0;
    }
    &:hover:after {
      color: #fff;
      background-color: $pink;
      cursor: $pointer;
    }
  }
  article:nth-of-type(odd) {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 10%;
      right: 2%;
      width: 5px;
      height: 180px;
      border-right: 1px dashed #EDEDEE;
    }
  }
  h4 {
    font-size: 15px;
    text-transform: uppercase;
    font-family: $Bold;
    line-height: 1.3;
    margin-bottom: 20px;
    display: inline-block;
    width: 315px;
  }
  p, li {
    font-size: 13px;
    font-family: $GothamPro;
    line-height: 1.8;
  }
  li:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border: 2px solid $pink;
    border-radius: 50%;
    margin-right: 5px;
  }
}

#modal {
  height: 540px;
  max-width: 532px;
  min-width: 300px;
  width: 50%;
  box-sizing: border-box;
  padding: 40px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: #fff;

  table {
    font-family: $GothamPro;
    color: $colorText;
    span {
      font-family: $Bold;
    }
    .employee {
      font-size: 13px;
      display: block;
    }
    td {
      padding: 10px 0;
      font-size: 10px;
      width: 124px;
    }
    .number {
      font-size: 18px;
    }
    .title {
      text-transform: uppercase;
      font-family: $Black;
      font-size: 10px;
      text-align: center;
    }
  }

  button {
    @include button;
    margin-top: 20px;
    margin-left: 124px;
    padding: 20px 35px;
    border-radius: 25px;
  }

}

@media (max-width: 980px) {
  .services {

    .wrapper {
      width: 740px;

    }

    article {
      width: 50%;
      padding: 40px 10px 40px 60px;
    }



    #document h4,
    #contract h4,
    #optima h4,
    #escort h4  {
      max-width: 240px;


    }
  }
}
//  end max-width: 980px

@media (max-width: 760px) {
  .slogan {
    .wrapper {
      width: 480px;

    }
  }

  .services {
    .wrapper {
      width: 560px;
      margin: 0 auto;
    }
    article {
      width: 90%;
      margin: 0 auto;
      float: none;
      box-sizing: border-box;
    }

    article:nth-of-type(odd) {
      &:before {
        width: 0;
        height: 0;
      }
    }

    #pink-arrow {
      top: 100px;
      left: 20%;
      transform: rotate(-90deg);
      &:before {
        height: 70px;
      }
      &:after {
        height: 150px;
      }
    }


    #modal {
      width: 100%;
      padding-bottom: 20px;
      height: 580px;
      top: 330px;
      background: #fff;


      table {
        td {

          h4 {
            font-size: 12px;
            max-width: 100%;
            text-align: right;
          }
        }
        .employee {
          font-size: 11px;
        }
        .number {
          font-size: 14px;
        }
      }
    }
  }
}
//  end max-width: 760px



@media (max-width: 580px) {
  .slogan {
    .wrapper {
      width: 300px;
    }
  }

  .services {
    .wrapper {
      width: auto;
    }
    article {
      width: 100%;
      padding-left: 10px;
    }

    #document h4,
    #contract h4,
    #optima h4,
    #escort h4  {
      max-width: 170px;
      padding-left: 0px;
    }
    #modal {
      max-width: 100%;
      padding: 0;
      height: auto;
      top: 390px;
      padding-bottom: 40px;
      table {
        td {
        max-width: 105px;
          h4 {
            font-size: 12px;
            max-width: 100%;
            text-align: right;
          }
        }
      }
    }


      #pink-arrow {

        &:before {
          height: 70px;
        }
        &:after {
          height: 150px;
        }
      }
  }
}


//  end max-width: 580px
