body {
  font-family: Tahoma, sans-serif;
}

header {
  font-size: 25px;
  font-weight: bold;
  color: blue;
  margin-bottom: 20px;
}

.main {
  width: 500px;
  margin: 40px auto;
  text-align: center;
}

input[type=text]{
  font-size: 18px;
  width: 400px;
}

button {
  width: 80px;
  height: 25px;
  font-size: 18px;
  border-radius: 5px;
  color: green;
  background-color: white;
  outline: none;
}
