$PTSans: 'PT Sans', sans-serif;
$orange: #ff6600;
$border: #d5d5d5;
@mixin rowPaddings {
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}
@mixin rowSidePaddings {
    height: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}
@mixin pictures {
    background-size: contain;
    width: 440px;
    height: 180px;
    margin: 0 auto;
    padding: 0;
}
@mixin clearfix {
    content: "";
    clear: both;
    display: table;
}
@mixin ukr {
    span {
        display: block;
    }

    .ukr-flag {
        width: 17px;
        height: 12px;
        display: inline-block;
    }

    .blue,
    .yellow {
        width: 17px;
        height: 6px;
    }

    .yellow {
        background: yellow;
    }

    .blue {
        background: blue;
    }
}
@mixin ru {
    span {
        display: inline-block;
    }

    .ru-flag {
        width: 17px;
        height: 12px;
        display: inline-block;
    }

    .blue,
    .red,
    .white {
        width: 17px;
        height: 4px;
    }

    .blue {
        background: blue;
    }

    .red {
        background: red;
    }

    .white {
        background: #fff;
    }
}
