<!--  #BLOG  -->
<div class="head-pic">
</div>

<div class="small">
    <p>Blog</p>
    <p>Keep in the loop</p>
</div>

<div class="content">



    <dl class="sidebar">
        <dt class="sidebar-title">About Intent</dt>
        <dd class="sidebar-text">Lorem ipsum dolor sit amet, con se ctetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem ati.</dd>
        <dt class="sidebar-title">Categories</dt>
        <dd class="sidebar-text">
            <ul>
                <li><a href="#">Video (3)</a></li>
                <li><a href="#">Sports (5)</a></li>
                <li><a href="#">Media (2)</a></li>
                <li><a href="#">Entertaintment (7)</a></li>
                <li><a href="#">Life (4)</a></li>
                <li><a href="#">Super Cool Stuff (8)</a></li>
            </ul>
        </dd>
        <dt class="sidebar-title">Advertisements</dt>
        <dd class="sidebar-text">
            <div class="advert">
                <!-- <p>Advertise Here</p> -->
            </div>
            <div class="advert">
                <!-- <p>Advertise Here</p> -->
            </div>
            <div class="advert">
                <!-- <p>Advertise Here</p> -->
            </div>
            <div class="advert">
                <!-- <p>Advertise Here</p> -->
            </div>
        </dd>
    </dl>

    <div class="blogContent active" id="tab11">
        <h3 class="menu-head">Reimer Wedding Footage</h3>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/xo6XKLM4IZA" allowfullscreen></iframe>
        </div>

        <section class="blog-post">
            <div class="post-details">
                <dl>
                    <dt>Date</dt>
                    <dd>August 15, 2016</dd>
                    <dt>Tags</dt>
                    <dd>Website | Design</dd>
                    <dt>Comments</dt>
                    <dd>4</dd>
                </dl>
            </div>
            <div class="post">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum <a href="#">...</a></p>
            </div>
        </section>

        <h3 class="menu-head">Sound Clip of Concert</h3>

        <audio controls>
        <source src="audio/jason_mraz.mp3" type="audio/mpeg">
        Тег audio не поддерживается Вашим браузером.
        <a href="audio/jason_mraz.mp3">Скачайте музыку</a>.
      </audio>

        <section class="blog-post">
            <div class="post-details">
                <dl>
                    <dt>Date</dt>
                    <dd>August 15, 2016</dd>
                    <dt>Tags</dt>
                    <dd>Website | Design</dd>
                    <dt>Comments</dt>
                    <dd>4</dd>
                </dl>
            </div>
            <div class="post">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum <a href="#">...</a></p>
            </div>
        </section>
    </div>

    <div class="pagination">
        <ul>
            <li class="pagination-item highlighted"><a href="#tab11" class="pagination-link">1</a></li>
            <li class="pagination-item"><a href="#tab12" class="pagination-link">2</a></li>
        </ul>
    </div>

    <div class="blogContent" id="tab12">
        <h3 class="menu-head">Reimer Wedding Footage</h3>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/oEG7X6K3Nm4" allowfullscreen></iframe>
        </div>

        <section class="blog-post">
            <div class="post-details">
                <dl>
                    <dt>Date</dt>
                    <dd>June 15, 2016</dd>
                    <dt>Tags</dt>
                    <dd>Website | Video</dd>
                    <dt>Comments</dt>
                    <dd>16</dd>
                </dl>
            </div>
            <div class="post">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum <a href="#">...</a></p>
            </div>
        </section>

        <h3 class="menu-head">Sound Clip of Concert</h3>

        <audio controls>
        <source src="audio/jason_mraz_2.mp3" type="audio/mpeg">
        Тег audio не поддерживается Вашим браузером.
        <a href="audio/jason_mraz_2.mp3">Скачайте музыку</a>.
      </audio>

        <section class="blog-post">
            <div class="post-details">
                <dl>
                    <dt>Date</dt>
                    <dd>August 15, 2016</dd>
                    <dt>Tags</dt>
                    <dd>Website | Design</dd>
                    <dt>Comments</dt>
                    <dd>4</dd>
                </dl>
            </div>
            <div class="post">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum <a href="#">...</a></p>
            </div>
        </section>
    </div>



</div>
