<!--  #CONTACT  -->
<div class="head-pic">
</div>

<div class="small">
    <p>Contact</p>
    <p>We are only a click away</p>
</div>

<div class="content">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9796.16523341658!2d-106.68222793192159!3d52.133570072547826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5304f72767cf86fb%3A0xcbb78789e94af73f!2zMzI4IEF2ZSBDIE5vcnRoLCBTYXNrYXRvb24sIFNLIFM3TCAwQzUsINCa0LDQvdCw0LTQsA!5e0!3m2!1suk!2sua!4v1471802413160"
            allowfullscreen class="map-frame"></iframe>
    </div>

    <div class="wrapper-contact">
        <div class="column-text">
            <p class="contact-details">Lorem ipsum dolor sit amet, in consectetur adipiscing elit. Siri Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum.</p>
            <p class="contact-details"><span class="company-name">Best PSD Freebies<br/></span> 328 Ave C<br/> Saskatoon, SK<br/> S7R 2V9</p>
            <p class="contact-details">t: (888) 842 - 8356<br/> f: (888) 452 - 9257<br/> e: info@psdfreebies.com</p>
        </div>
        <form action="#" class="feedback">
            <input type="text" placeholder="First Name" class="feedback-input">
            <input type="text" placeholder="Last Name" class="feedback-input">
            <input type="text" placeholder="Email Address" class="feedback-input">
            <input type="text" placeholder="Url" class="feedback-input">
            <textarea name="name" rows="8" cols="40" placeholder="Message" class="feedback-text"></textarea>
            <button type="button" name="button" class="feedback-submit">Submit</button>
        </form>
    </div>

</div>
