<!--  #HOME  -->
<div class="carousel-hider">
    <div class="wrapper">
        <div class="description">
            <p class="description-paragraph">Place Your Description Text </p>
            <p class="description-paragraph">Here. Great Spot to Tell</p>
            <p class="description-paragraph">About Deals.</p>
        </div>

        <div class="controls">
            <div class="carousel-arrow-left"><span class="genericon genericon-leftarrow"></span></div>
            <div class="carousel-arrow-right"><span class="genericon genericon-rightarrow"></span></div>
        </div>
    </div>
    <div class="carousel">
        <img src="img/main_big.jpg" class="carousel-screen" alt="Wedding photo">
    </div>

</div>
<div class="small">
    <a href="img/1_big.jpg" class="carousel-link"><img src="img/1_mini.jpg" alt="Preview 1 of wedding photo"></a>
    <a href="img/2_big.jpg" class="carousel-link"><img src="img/2_mini.jpg" alt="Preview 2 of wedding photo"></a>
    <a href="img/main_big.jpg" class="carousel-link visible"><img src="img/main_mini.jpg" alt="Preview of wedding photo"></a>
    <a href="img/3_big.jpg" class="carousel-link"><img src="img/3_mini.jpg" alt="Preview 3 of wedding photo"></a>
    <a href="img/4_big.jpg" class="carousel-link"><img src="img/4_mini.jpg" alt="Preview 4 of wedding photo"></a>
    <a href="img/5_big.jpg" class="carousel-link"><img src="img/5_mini.jpg" alt="Preview 5 of wedding photo"></a>
    <a href="img/6_big.jpg" class="carousel-link"><img src="img/6_mini.jpg" alt="Preview 6 of wedding photo"></a>
    <a href="img/7_big.jpg" class="carousel-link"><img src="img/7_mini.jpg" alt="Preview 7 of wedding photo"></a>
    <a href="img/8_big.jpg" class="carousel-link"><img src="img/8_mini.jpg" alt="Preview 8 of wedding photo"></a>
    <a href="img/9_big.jpg" class="carousel-link"><img src="img/9_mini.jpg" alt="Preview 9 of wedding photo"></a>

</div>
<div class="content">
    <section class="columns">
        <div class="wrapper clearfix">
            <div class="column-home">
                <h4 class="column-head"><span class="head-image genericon genericon-cog"></span>Awesome Sliders</h4>
                <p class="text">Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit com mune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad.</p>
            </div>

            <div class="column-home">
                <h4 class="column-head"><span class="head-image genericon genericon-user"></span>Modern Theme</h4>
                <p class="text">Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit com mune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad.</p>
            </div>

            <div class="column-home">
                <h4 class="column-head"><span class="head-image genericon genericon-key"></span>Customize It</h4>
                <p class="text">Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit com mune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad.</p>
            </div>
            <div class="slogan">make an <span class="slogan-highlight">impression</span> that shines</div>
        </div>
    </section>
    <!-- end .columns -->
    <section class="portfolio">
        <div class="wrapper">
            <div class="low-navigation">
                <ul class="portfolio-list-home">
                    <li class="highlighted portfolio-item-home"><a href="#tab1" class="portfolio-link-home">All</a></li>
                    <li class="portfolio-item-home"><a href="#tab2" class="portfolio-link-home">Print</a></li>
                    <li class="portfolio-item-home"><a href="#tab3" class="portfolio-link-home">Photography</a></li>
                    <li class="portfolio-item-home"><a href="#tab4" class="portfolio-link-home">Web</a></li>
                    <li class="portfolio-item-home"><a href="#tab5" class="portfolio-link-home">Animation</a></li>
                </ul>
            </div>


            <div class="images tabsContent active" id="tab1">
                <div class="img"><img src="img/portfolio_all_1.png" alt="Business cards"><span class="img-name">Business cards</span></div>
                <div class="img"><img src="img/portfolio_all_2.png" alt="Business cards"><span class="img-name">Interior</span></div>
                <div class="img"><img src="img/portfolio_all_3.png" alt="Business cards"><span class="img-name">Love stories</span></div>
                <div class="img"><img src="img/portfolio_all_4.png" alt="Business cards"><span class="img-name">WEB</span></div>
                <div class="img"><img src="img/portfolio_all_5.png" alt="Business cards"><span class="img-name">Sales</span></div>
                <div class="img"><img src="img/portfolio_all_6.png" alt="Business cards"><span class="img-name">Portraits</span></div>
                <div class="img"><img src="img/portfolio_all_7.png" alt="Business cards"><span class="img-name">Print</span></div>
                <div class="img"><img src="img/portfolio_all_8.png" alt="Business cards"><span class="img-name">Weddings</span></div>
            </div>

            <div class="images tabsContent" id="tab2">
                <div class="img"><img src="img/portfolio_all_1.png" alt="Business cards"><span class="img-name">Business cards</span></div>
                <div class="img"><img src="img/portfolio_all_2.png" alt="Business cards"><span class="img-name">Interior</span></div>
                <div class="img"><img src="img/portfolio_all_3.png" alt="Business cards"><span class="img-name">Love stories</span></div>
            </div>

            <div class="images tabsContent" id="tab3">
                <div class="img"><img src="img/portfolio_all_1.png" alt="Business cards"><span class="img-name">Business cards</span></div>
                <div class="img"><img src="img/portfolio_all_2.png" alt="Business cards"><span class="img-name">Interior</span></div>
                <div class="img"><img src="img/portfolio_all_3.png" alt="Business cards"><span class="img-name">Love stories</span></div>
                <div class="img"><img src="img/portfolio_all_7.png" alt="Business cards"><span class="img-name">Print</span></div>
                <div class="img"><img src="img/portfolio_all_8.png" alt="Business cards"><span class="img-name">Weddings</span></div>
            </div>

            <div class="images tabsContent" id="tab4">
                <div class="img"><img src="img/portfolio_all_2.png" alt="Business cards"><span class="img-name">Interior</span></div>
                <div class="img"><img src="img/portfolio_all_7.png" alt="Business cards"><span class="img-name">Print</span></div>
                <div class="img"><img src="img/portfolio_all_8.png" alt="Business cards"><span class="img-name">Weddings</span></div>
            </div>

            <div class="images tabsContent" id="tab5">
                <div class="img"><img src="img/portfolio_all_7.png" alt="Business cards"><span class="img-name">Print</span></div>
                <div class="img"><img src="img/portfolio_all_8.png" alt="Business cards"><span class="img-name">Weddings</span></div>
            </div>


        </div>
    </section>
</div>
<!-- end of content -->
