<div class="carousel-hider">
  <div class="wrapper">
      <div class="description">
        <p>Place Your Description Text </p>
        <p>Here. Great Spot to Tell</p>
        <p>About Deals.</p>
      </div>

      <div class="controls">
          <div class="carousel-arrow-left"><span class="genericon genericon-leftarrow"></span></div>
          <div class="carousel-arrow-right"><span class="genericon genericon-rightarrow"></span></div>
      </div>
  </div>
  <div class="carousel">
    <img src="img/main_big.jpg">
  </div>

</div>
<div class="small">
  <a href="img/1_big.jpg"><img src="img/1_mini.jpg" alt="Preview 1"></a>
  <a href="img/2_big.jpg"><img src="img/2_mini.jpg" alt="Preview 2"></a>
  <a href="img/main_big.jpg" class="active"><img src="img/main_mini.jpg" alt="Preview"></a>
  <a href="img/3_big.jpg"><img src="img/3_mini.jpg" alt="Preview 3"></a>
  <a href="img/4_big.jpg"><img src="img/4_mini.jpg" alt="Preview 4"></a>
  <a href="img/5_big.jpg"><img src="img/5_mini.jpg" alt="Preview 5"></a>
  <a href="img/6_big.jpg"><img src="img/6_mini.jpg" alt="Preview 6"></a>
  <a href="img/7_big.jpg"><img src="img/7_mini.jpg" alt="Preview 7"></a>
  <a href="img/8_big.jpg"><img src="img/8_mini.jpg" alt="Preview 8"></a>
  <a href="img/9_big.jpg"><img src="img/9_mini.jpg" alt="Preview 9"></a>

</div>
<div class="content">
<section class="columns">
  <div class="wrapper clearfix">
    <div class="column">
      <h4><span class="genericon genericon-cog"></span>Awesome Sliders</h4>
      <p class="text">Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit com mune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad.</p>
    </div>

    <div class="column">
      <h4><span class="genericon genericon-user"></span>Modern Theme</h4>
      <p class="text">Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit com mune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad.</p>
    </div>

    <div class="column">
      <h4><span class="genericon genericon-key"></span>Customize It</h4>
      <p class="text">Lorem ipsum dolor sit amet, at mea eius corpora, at eam munere facilisi omittantur. Nemore accusam usu no, ei nec vidit com mune constituto. Te usu inani volumus, eum albucius menandri at, sed apeirian percipitur ad.</p>
    </div>
    <div class="slogan">make an <span>impression</span> that shines</div>
  </div>
</section>
<!-- end .columns -->
<section class="portfolio">
    <div class="wrapper">
      <nav class="low-navigation">
        <ul>
          <li class="highlighted"><a href="#tab1">All</a></li>
          <li><a href="#tab2">Print</a></li>
          <li><a href="#tab3">Photography</a></li>
          <li><a href="#tab4">Web</a></li>
          <li><a href="#tab5">Animation</a></li>
        </ul>
      </nav>


      <div class="images tabsContent active" id="tab1">
        <div class="img"><img src="img/portfolio_all_1.png" alt="Business cards"><span>Business cards</span></div>
        <div class="img"><img src="img/portfolio_all_2.png" alt="Business cards"><span>Interior</span></div>
        <div class="img"><img src="img/portfolio_all_3.png" alt="Business cards"><span>Love stories</span></div>
        <div class="img"><img src="img/portfolio_all_4.png" alt="Business cards"><span>WEB</span></div>
        <div class="img"><img src="img/portfolio_all_5.png" alt="Business cards"><span>Sales</span></div>
        <div class="img"><img src="img/portfolio_all_6.png" alt="Business cards"><span>Portraits</span></div>
        <div class="img"><img src="img/portfolio_all_7.png" alt="Business cards"><span>Print</span></div>
        <div class="img"><img src="img/portfolio_all_8.png" alt="Business cards"><span>Weddings</span></div>
      </div>

      <div class="images tabsContent" id="tab2">
        <div class="img"><img src="img/portfolio_all_1.png" alt="Business cards"><span>Business cards</span></div>
        <div class="img"><img src="img/portfolio_all_2.png" alt="Business cards"><span>Interior</span></div>
        <div class="img"><img src="img/portfolio_all_3.png" alt="Business cards"><span>Love stories</span></div>
      </div>

      <div class="images tabsContent" id="tab3">
        <div class="img"><img src="img/portfolio_all_1.png" alt="Business cards"><span>Business cards</span></div>
        <div class="img"><img src="img/portfolio_all_2.png" alt="Business cards"><span>Interior</span></div>
        <div class="img"><img src="img/portfolio_all_3.png" alt="Business cards"><span>Love stories</span></div>
        <div class="img"><img src="img/portfolio_all_7.png" alt="Business cards"><span>Print</span></div>
        <div class="img"><img src="img/portfolio_all_8.png" alt="Business cards"><span>Weddings</span></div>
      </div>

      <div class="images tabsContent" id="tab4">
        <div class="img"><img src="img/portfolio_all_2.png" alt="Business cards"><span>Interior</span></div>
        <div class="img"><img src="img/portfolio_all_7.png" alt="Business cards"><span>Print</span></div>
        <div class="img"><img src="img/portfolio_all_8.png" alt="Business cards"><span>Weddings</span></div>
      </div>

      <div class="images tabsContent" id="tab5">
        <div class="img"><img src="img/portfolio_all_7.png" alt="Business cards"><span>Print</span></div>
        <div class="img"><img src="img/portfolio_all_8.png" alt="Business cards"><span>Weddings</span></div>
      </div>


    </div>
</section>
</div>
<!-- end of content -->
