<!-- #PORTFOLIO  -->
<div class="head-pic">
</div>

<div class="small">
    <p>Portfolio</p>
    <p>See Some of my work</p>
</div>

<div class="content-portfolio">
    <section class="portfolio">
        <div class="wrapper">
            <div class="portfolio-navigation">
                <ul class="portfolio-list">
                    <li class="highlighted portfolio-item"><a href="#tab1" class="portfolio-link">All</a></li>
                    <li class="portfolio-item"><a href="#tab6" class="portfolio-link">Print</a></li>
                    <li class="portfolio-item"><a href="#tab7" class="portfolio-link">Photography</a></li>
                    <li class="portfolio-item"><a href="#tab8" class="portfolio-link">Web</a></li>
                    <li class="portfolio-item"><a href="#tab9" class="portfolio-link">Animation</a></li>
                </ul>
            </div>


            <div class="images portfolioContent portfolio-active" id="tab6">
                <a href="img/modal_1.png" class="fancybox"><img src="img/portfolio_all_1.png" alt="Business cards"></a>
                <a href="img/modal_2.png" class="fancybox"><img src="img/portfolio_all_2.png" alt="Business cards"></a>
                <a href="img/modal_3.png" class="fancybox"><img src="img/portfolio_all_3.png" alt="Business cards"></a>
                <a href="img/modal_4.png" class="fancybox"><img src="img/portfolio_all_4.png" alt="Business cards"></a>
                <a href="img/modal_5.png" class="fancybox"><img src="img/portfolio_all_5.png" alt="Business cards"></a>
                <a href="img/modal_6.png" class="fancybox"><img src="img/portfolio_all_6.png" alt="Business cards"></a>
                <a href="img/modal_7.png" class="fancybox"><img src="img/portfolio_all_7.png" alt="Business cards"></a>
                <a href="img/modal_8.png" class="fancybox"><img src="img/portfolio_all_8.png" alt="Business cards"></a>
                <a href="img/modal_9.png" class="fancybox"><img src="img/port_1.png" alt="Business cards"></a>
                <a href="img/modal_10.png" class="fancybox"><img src="img/port_2.png" alt="Business cards"></a>
                <a href="img/modal_11.png" class="fancybox"><img src="img/port_3.png" alt="Business cards"></a>
                <a href="img/modal_12.png" class="fancybox"><img src="img/port_4.png" alt="Business cards"></a>
                <a href="img/modal_13.png" class="fancybox"><img src="img/port_5.png" alt="Business cards"></a>
                <a href="img/modal_14.png" class="fancybox"><img src="img/port_6.png" alt="Business cards"></a>
                <a href="img/modal_15.png" class="fancybox"><img src="img/port_7.png" alt="Business cards"></a>
                <a href="img/modal_16.png" class="fancybox"><img src="img/port_8.png" alt="Business cards"></a>
            </div>

            <div class="images portfolioContent" id="tab7">
                <a href="img/modal_6.png" class="fancybox"><img src="img/portfolio_all_6.png" alt="Business cards"></a>
                <a href="img/modal_7.png" class="fancybox"><img src="img/portfolio_all_7.png" alt="Business cards"></a>
                <a href="img/modal_8.png" class="fancybox"><img src="img/portfolio_all_8.png" alt="Business cards"></a>
                <a href="img/modal_9.png" class="fancybox"><img src="img/port_1.png" alt="Business cards"></a>
                <a href="img/modal_10.png" class="fancybox"><img src="img/port_2.png" alt="Business cards"></a>
                <a href="img/modal_11.png" class="fancybox"><img src="img/port_3.png" alt="Business cards"></a>
            </div>

            <div class="images portfolioContent" id="tab8">
                <a href="img/modal_6.png" class="fancybox"><img src="img/portfolio_all_6.png" alt="Business cards"></a>
                <a href="img/modal_7.png" class="fancybox"><img src="img/portfolio_all_7.png" alt="Business cards"></a>
                <a href="img/modal_8.png" class="fancybox"><img src="img/portfolio_all_8.png" alt="Business cards"></a>
                <a href="img/modal_9.png" class="fancybox"><img src="img/port_1.png" alt="Business cards"></a>
                <a href="img/modal_10.png" class="fancybox"><img src="img/port_2.png" alt="Business cards"></a>
                <a href="img/modal_11.png" class="fancybox"><img src="img/port_3.png" alt="Business cards"></a>
            </div>

            <div class="images portfolioContent" id="tab9">
                <a href="img/modal_3.png" class="fancybox"><img src="img/portfolio_all_3.png" alt="Business cards"></a>
                <a href="img/modal_4.png" class="fancybox"><img src="img/portfolio_all_4.png" alt="Business cards"></a>
            </div>

            <div class="images portfolioContent" id="tab10">
                <a href="img/modal_10.png" class="fancybox"><img src="img/port_2.png" alt="Business cards"></a>
                <a href="img/modal_11.png" class="fancybox"><img src="img/port_3.png" alt="Business cards"></a>
                <a href="img/modal_12.png" class="fancybox"><img src="img/port_4.png" alt="Business cards"></a>
                <a href="img/modal_13.png" class="fancybox"><img src="img/port_5.png" alt="Business cards"></a>
                <a href="img/modal_14.png" class="fancybox"><img src="img/port_6.png" alt="Business cards"></a>
                <a href="img/modal_15.png" class="fancybox"><img src="img/port_7.png" alt="Business cards"></a>
                <a href="img/modal_16.png" class="fancybox"><img src="img/port_8.png" alt="Business cards"></a>
            </div>


        </div>
    </section>
</div>
